<div class="clear"></div>
<ul class="">
<?php if ($this->customerHasAddresses()): ?>
   <li class="section_2">
       <label for="shipping-address-select"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
       <div class="input-box">
           <?php echo $this->getAddressesHtmlSelect('shipping') ?>
       </div>
   </li>
<?php endif ?>
    <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
      
            <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
            <ul><?php if(Mage::getStoreConfig('fieldsmanager/general/enable') == 1){
                    echo $this->getfieldshtml(1);
                    }?>
                <li class="section_2"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->setFieldParams('onchange="billing.setSameAsBilling_ship(false)"')->toHtml() ?></li>
                <li class="section_2">
                    <div class="section_1">
                        <label for="shipping:company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" id="shipping:company" name="shipping[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" onchange="billing.setSameAsBilling_ship(false);" />
                        </div>
                    </div>
        <?php if(false): ?>
                    <div class="section_4">
                        <label for="shipping:email" ><?php echo $this->__('Email Address') ?><em class="required">*</em></label>
                        <div class="input-box">
                            <input type="text" name="shipping[email]" id="shipping:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                        </div>
                    </div>
        <?php endif ?>
                </li>
                <li class="section_3">
                    <label for="shipping:street1"><?php echo $this->__('Address') ?><em class="required">*</em></label>
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" onchange="billing.setSameAsBilling_ship(false);" />
                    </div>
                </li>
                        <?php if(Mage::getStoreConfig('fieldsmanager/general/enable') == 1){
                    echo $this->getfieldshtml(2);
                    }?>

                <li class="section_2" style="display:none;">
                    <label for="shipping:country_id" ><?php echo $this->__('Country') ?><em class="required">*</em></label>
                    <div class="input-box">
                        <?php echo $this->getCountryHtmlSelect('shipping') ?>
                    </div>
                </li>
                <li class="section_1" style="display:none;">
                    <label for="shipping:city"><?php echo $this->__('City') ?><em class="required">*</em></label>
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('City') ?>" name="shipping[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry" id="shipping:city" onchange="billing.setSameAsBilling_ship(false);" />
                    </div>
                </li>
                <li class="section_2" style="display:none;">
                    <div class="section_1 field-postcode">
                        <label for="shipping:postcode"><?php echo $this->__('Zip/Postal Code') ?><em class="required">*</em></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="postcode input-text validate-zip-international required-entry" onchange="billing.setSameAsBilling_ship(false);" />
                            
                        </div>
                    </div>
                    <div class="section_4 field-region">
                        <label for="shipping:region"><?php echo $this->__('State/Province') ?><em class="required">*</em></label>
                        <div class="input-box">
                            <select id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('State/Province') ?>" class="region validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="region input-text" style="display:none;" />
                        </div>
                    </div>
                </li>
                <li class="section_2">
                    <div class="section_1">
                        <label for="shipping:telephone"><?php echo $this->__('Telephone') ?><em class="required">*</em></label>
                        <div class="input-box">
                            <input type="text" name="shipping[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="shipping:telephone" onchange="billing.setSameAsBilling_ship(false);" />
                        </div>
                    </div>
                    <div class="section_4">
                        <label for="shipping:fax"><?php echo $this->__('Fax') ?></label>
                        <div class="input-box">
                            <input type="text" name="shipping[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text" id="shipping:fax" onchange="billing.setSameAsBilling_ship(false);" />
                        </div>
                    </div>
                </li>
                                <?php if(Mage::getStoreConfig('fieldsmanager/general/enable') == 1){
                    echo $this->getfieldshtml(3);
                    }?>

            <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                <li class="section_2">
                    <input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" onchange="billing.setSameAsBilling_ship(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
            <?php else:?>
                <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
            <?php endif;?>
            </ul>
      
    </li>
    <li class="section_2">
        <input type="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing" value="1"<?php if($this->getAddress()->getSameAsBilling()): ?> checked="checked"<?php endif; ?> title="<?php echo $this->__('Use Billing Address') ?>" onclick="billing.setSameAsBilling_ship(this.checked)" class="checkbox" /><label for="shipping:same_as_billing"><?php echo $this->__('Use Billing Address') ?></label>
    </li>
</ul>
<script type="text/javascript">
//<![CDATA[
        if($('shipping-address-select')){$('shipping-address-select').observe('change', function(event){billing.setAddress_ship($('shipping-address-select').value);}.bind(this));}
    <?php if(Mage::helper('easycheckout')->getEasycheckoutConfig('general/update_country')): ?>
        if($('shipping:country_id')){$('shipping:country_id').observe('change', function(event){billing.saveCountry_ship();Event.stop(event);}.bind(this));}
     <?php endif;?>
    <?php if(Mage::helper('easycheckout')->getEasycheckoutConfig('general/update_zip')): ?>
        if($('shipping:postcode')){$('shipping:postcode').observe('change', function(event){billing.saveCountry_ship();Event.stop(event);}.bind(this));}
    <?php endif;?>
    <?php if(Mage::helper('easycheckout')->getEasycheckoutConfig('general/update_state')): ?>
        if($('shipping:region_id')){$('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");}
    <?php endif;?>
    
    billing.shippinginit(
                        '<?php echo $this->getUrl('checkout/onestep/saveShipping') ?>',
                        '<?php echo $this->getUrl('checkout/onestep/getAddress') ?>address/'
                    );
	/*var shipping = new Shipping(
                        '<?php echo $this->getUrl('checkout/onestep/saveShipping') ?>',
                        '<?php echo $this->getUrl('checkout/onestep/getAddress') ?>address/'
                    ); */
   
    $('shipping-address-select') && billing.newAddress_ship(!$('shipping-address-select').value);

    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', countryRegions, undefined, 'shipping:postcode');
//]]>
</script>