
<?php 
global $var_yttheme;
if($this->getItems()->getSize()): 
global $show_rich_snippet;
$show_rich_snippet = 0;
?>
<?php
$limit = (int)$var_yttheme->getParam('related_number');
$count = count($this->getItems());

$page = ceil($count/2);
$_rowCount=3;
?>
<div class="slider-related-c category-products sm-slider related">
    <div class="block-title">
       <span><?php echo $this->__('Related Products') ?></span>
    </div>
	<div class="page-button">
        <ul class="control-button button-related">
            <li class="prev">Prev</li>
            <li class="next">Next</li>
        </ul>		
    </div>
    <div class="block-content">
        
        
        <?php 
        $i = 0;
         foreach($this->getItems() as $_item):
       ; 
        $now = date("Y-m-d");
        $newsFrom= substr($_item->getData('news_from_date'),0,10);
        $newsTo=  substr($_item->getData('news_to_date'),0,10);
        $specialprice = Mage::getModel('catalog/product')->load($_item->getId())->getSpecialPrice();        
        ?>
		  <?php if ($_rowCount>1 && $i==0):?>
               <div id="block-related-slider">
            <?php endif ?>
			<?php if ($_rowCount>1 && $i%$_rowCount==0):?>
					<div class="item"> 
				<?php endif ?>
			<?php if (($_rowCount>1 && $i%$_rowCount==0)): ?>
				<ol class="products-grid slider" id="block-related">
			<?php endif ?>	
            <li class="item productId<?php echo $_item->getId()?>">
			<?php $i++ ?>
                <?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
                    <?php if (!$_item->getRequiredOptions()): ?>
                    <?php endif; ?>
                <?php endif; ?>
                
                <div class="item-inner">
                        <div class="product-image">
                            <a href="<?php echo $_item->getProductUrl() ?>" class="product-img" title="<?php echo $this->htmlEscape($_item->getName(), null, true) ?>">
                                <?php                           
                                if($_item->getThumbnail() != $_item->getSmallImage()) { ?> 
                                   <img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'small_image'), null, true) ?>" />
                                   <img class="thumnail-image image-hover" src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(270,270) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'thumbnail'), null, true) ?>" />                            
                                   <?php } else { ?>
                                    <img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'small_image'), null, true) ?>" />
                               <?php } ?>
                               
                                </a>
                                <?php if ( $now>=$newsFrom && $now<=$newsTo ){ ?>
                                    <span class="new-product have-ico"><?php echo $this->__('New'); ?></span>
                                <?php }
                                if ( $specialprice ){ ?>
                                    <span class="sale-product-old have-ico"><?php echo $this->__('Sale'); ?></span>
                                <?php } ?> 
							<?php if(Mage::helper('market/gift')->checkGift($_item)):?>
								<div class="gift-img"></div>
							<?php endif;?>
                        </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName(), null, true) ?>"> <?php echo $this->htmlEscape($_item->getName()) ?></a>
                        </div>
                        <div class="product-review">
                            <?php  echo $this->getReviewsSummaryHtml($_item, "short", true); ?>
                        </div>
                        <div class="product-price">
                            <?php echo $this->getPriceHtml($_item, true) ?>
                        </div>
                        
                        
                        <div class="product-addto-wrap">
                            <div class="product-addcart">
                                <?php if($_item->isSaleable()): ?>
                                
                                    <a class="btn-cart" title="<?php echo $this->__('Add to cart') ?>" href="javascript:void(0);" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')">
                                        <?php echo $this->__('Add to cart') ?>
                                    </a>
                            
                                <?php else: ?>
                                <p class="availability out-of-stock">
                                    <span><?php echo $this->__('Out of stock') ?> </span>
                                </p>
                                <?php endif; ?>                             
                            </div>
                            <div class="wishlist-compare">
                                <?php if ( $this->helper('wishlist')->isAllow() ) : ?>
                                <a class="link-wishlist" href="<?php echo $this->helper('wishlist')->getAddUrl($_item) ?>" title="<?php echo $this->__('Add to wishlist') ?>">
                                 
                                </a>
                                <?php endif; ?>
                
                                <?php if( $_compareUrl=$this->getAddToCompareUrl($_item) ): ?>
    
                                <a class="link-compare" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to compare'); ?>">
                                   
                                </a>
                            
                                <?php endif;?>
                            </div>
                        </div>                          
                    </div>
                    
                </div>
                
            </li>
		<?php if ($i==$limit || ($_rowCount>1 && $i%$_rowCount==0)): ?>			
			</ol>
		<?php endif;?>
		<?php if ($_rowCount>1 && ($i%$_rowCount==0 || $i==$limit)):?>
						</div>
		<?php endif ?>
		<?php if ($_rowCount>1 && $i==$limit):?>
			</div>
		<?php endif ?>
        <?php if ( $i == $limit ){ break; } ?>         
        <?php endforeach ?>    
</div>
<?php endif ?>
</div>
<script type="text/javascript">
           jQuery(document).ready(function($){
			var block_related_slider = $('#block-related-slider');
			block_related_slider.owlCarousel({
						lazyLoad:true,
						navigation:true,
						margin:5,
						autoplay:true,
						loop:true,
						autoplayTimeout:7000,
						autoplayHoverPause: true,
						dots:false,
						responsive:{
							0 : {
								items : 1
							},
							320 : {
								items : 1
							},
							480 : {
								items : 1
							},
							768 : {
								items : 1
							},
							992 : {
								items : 1
							},
							1200 : {
								items : 1
							},
							1600 : {
								items : 1
							},
						}						
			});
		owlRS = block_related_slider.owlCarousel();
		$(".button-related .next").click(function(){
			owlRS.trigger('next.owl.carousel');
		})
		$(".button-related .prev").click(function(){
			owlRS.trigger('prev.owl.carousel');
		})
		});
	
</script>