<?php 
global $var_yttheme;
$_helper = $this->helper('catalog/output'); 
$limit = (int)$var_yttheme->getParam('upsell_number');
global $show_rich_snippet;
$show_rich_snippet = 0;
?>
<?php if(count($this->getItemCollection()->getItems())): ?>
<div class="category-products sm-slider upsell">
    <div class="block-title">
       <span><?php echo $this->__('Upsell Products') ?></span>
    </div>
    <div class="page-button">
        <ul class="control-button button-upsell">
            <li class="prev">Prev</li>
            <li class="next">Next</li>
        </ul>		
    </div>
    <ol class="products-grid slider" id="block-upsell">
        <?php $this->resetItemsIterator() ?>
            <?php for($_c=0;$_c<$limit;$_c++):?>
                <?php if($_link=$this->getIterableItem()): ?>
	                <?php 
					$now = date("Y-m-d H:m:s");
					$newsFrom= $_link->getNewsFromDate();
					$newsTo=  $_link->getNewsToDate();
					$specialprice = Mage::getModel('catalog/product')->load($_link->getId())->getSpecialPrice();
					$price = Mage::getModel('catalog/product')->load($_link->getId())->getPrice();
					$special_from_date = $_link->getSpecialFromDate();
					$special_to_date = $_link->getSpecialToDate();
					?>
	                <li class="item productId<?php echo $_link->getId();?>">
	                    <div class="item-inner">					
							<div class="product-image">
								<a href="<?php echo $_link->getProductUrl() ?>" class="product-img" title="<?php echo $this->htmlEscape($_link->getName(), null, true) ?>">
								<?php 							
									if($_link->getThumbnail() != $_link->getSmallImage()) { ?> 
										<img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_link, 'small_image'), null, true) ?>" />
										<img class="thumnail-image image-hover" src="<?php echo $this->helper('catalog/image')->init($_link, 'thumbnail')->resize(270,270) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_link, 'thumbnail'), null, true) ?>" />                         	
									<?php } else { ?>
										<img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_link, 'small_image'), null, true) ?>" />
									<?php } ?>
	                           
								</a>
								<?php if ( $now>=$newsFrom && $now<=$newsTo ){ ?>
									<span class="new-product have-ico"><?php echo $this->__('New'); ?></span>
								<?php }
	                           if (Mage::helper('market')->_checkSale($_link)){ ?>
									<span class="sale-product-old have-ico"><?php echo $this->__('Sale'); ?></span>
								<?php } ?>
								<?php if(Mage::helper('market/gift')->checkGift($_link)):?>
									<div class="gift-img"></div>
								<?php endif;?>
							</div>						
							<div class="product-info">
								<div class="product-name">
									<a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName(), null, true) ?>"> <?php echo $this->htmlEscape($_link->getName()) ?></a>
								</div>
								<div class="product-review">
									<?php echo $this->getReviewsSummaryHtml($_link, "short", true); ?>
								</div>
								<div class="product-price">
									<?php echo $this->getPriceHtml($_link, true) ?>
								</div>
								
	                            
	                            <div class="product-addto-wrap">
									<div class="product-addcart">
										<?php if($_link->isSaleable()): ?>
	                                        <a class="btn-cart" title="<?php echo $this->__('Add to cart') ?>" href="javascript:void(0);" onclick="setLocation('<?php echo $this->getAddToCartUrl($_link) ?>')">
	                                            <?php echo $this->__('Add to cart') ?>
	                                        </a>
										<?php else: ?>
											<p class="availability out-of-stock">
												<span><?php echo $this->__('Out of stock') ?> </span>
											</p>
										<?php endif; ?>								
									</div>
									<div class="wishlist-compare">
										<?php if ( $this->helper('wishlist')->isAllow() ) : ?>
											<a class="link-wishlist" href="<?php echo $this->helper('wishlist')->getAddUrl($_link) ?>" title="<?php echo $this->__('Add to wishlist') ?>">
												<?php //echo $this->__('Add to Wishlist') ?>
											</a>
										<?php endif; ?>
						
										<?php if( $_compareUrl=$this->getAddToCompareUrl($_link) ): ?>
			
											<a class="link-compare" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to compare'); ?>">
												<?php //echo $this->__('Add to Compare') ?>
											</a>
									
										<?php endif;?>
	                                </div>
								</div>							
							</div>
						</div>
	                </li>       
                <?php endif; ?>
            <?php endfor; ?> 
    </ol>
    <script type="text/javascript">decorateTable('upsell-product-table')</script>
    
    <script type="text/javascript">
           jQuery(document).ready(function($){
			var owl_upsell = $('#block-upsell');
			owl_upsell.owlCarousel({
						lazyLoad:true,
						navigation:false,
						margin:5,
						autoplay:true,
						loop:true,
						autoplayTimeout:5000,
						autoplayHoverPause: true,
						dots:false,
						responsive:{
							0 : {
								items : 1
							},
							480 : {
								items : 2
							},
							768 : {
								items : 3
							},
							992 : {
								items : 3
							},
							1200 : {
								items : 4
							},
						}
			});
		owlUp = owl_upsell.owlCarousel();
		$(".button-upsell .next").click(function(){
			owlUp.trigger('next.owl.carousel');
		})
		$(".button-upsell .prev").click(function(){
			owlUp.trigger('prev.owl.carousel');
		})
		});
	</script>
</div>
<?php endif ?>
