<?php 
global $var_yttheme;
global $show_rich_snippet;
$show_rich_snippet = 0;
?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
  <?php $productHelper = Mage::helper("catalog/product"); ?>
<?php
$count = $_products->count();

$page = ceil($count/2);

?>
<div class="category-products sm-slider related sameproduct-block">
    <div class="block-title">
       <span><?php echo $this->__('Products from the same category') ?></span>
    </div>
    <div class="block-content">
        <!--<p class="block-subtitle"><?php //echo $this->__('Check items to add to the cart or') ?>&nbsp;<a href="#" onclick="selectAllRelated(this); return false;"><?php //echo $this->__('select all') ?></a></p>-->
        <?php
     //if($count>4 && $limit>4):?>
        <div class="page-button">
          <ul class="control-button button-same">
              <li class="prev2">Prev</li>
              <li class="next2">Next</li>
          </ul>   
      </div>
        
        <ol class="products-grid slider" id="block-same">
        <?php 
        $i=0;
        foreach($_products->getItems() as $_item): 
        $i++;
    $now = date("Y-m-d");
    $newsFrom= substr($_item->getData('news_from_date'),0,10);
    $newsTo=  substr($_item->getData('news_to_date'),0,10);
    $specialprice = Mage::getModel('catalog/product')->load($_item->getId())->getSpecialPrice();    
    ?>
            <li class="item productId<?php echo $_item->getId()?>">
                <?php if(!$_item->isComposite() && $_item->isSaleable()): ?>
                    <?php if (!$_item->getRequiredOptions()): ?>
                        <!--<input type="checkbox" class="checkbox related-checkbox" id="related-checkbox<?php echo $_item->getId() ?>" name="related_products[]" value="<?php //echo $_item->getId() ?>" />-->
                    <?php endif; ?>
                <?php endif; ?>
                
                <div class="item-inner">
                  <div class="item-box">
                      <div class="product-image">
                          <a href="<?php echo $_item->getProductUrl() ?>" class="product-img" title="<?php echo $this->htmlEscape($_item->getName(), null, true) ?>">
                                <?php                           
                                if($_item->getThumbnail() != $_item->getSmallImage()) { ?> 
                                   <img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'small_image'), null, true) ?>" />
                                   <img class="thumnail-image image-hover" src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(270,270) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'thumbnail'), null, true) ?>" />                            
                                   <?php } else { ?>
                                    <img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_item, 'small_image'), null, true) ?>" />
                               <?php } ?>
                               
                                </a>
                                <?php if ( $now>=$newsFrom && $now<=$newsTo ){ ?>
                                    <span class="new-product have-ico"><?php echo $this->__('New'); ?></span>
                                <?php }
                                if ( $specialprice ){ ?>
                                    <span class="sale-product-old have-ico"><?php echo $this->__('Sale'); ?></span>
                                <?php } ?>
							<?php if(Mage::helper('market/gift')->checkGift($_item)):?>
								<div class="gift-img"></div>
							<?php endif;?>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-name">
                            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName(), null, true) ?>"> <?php echo $this->htmlEscape($_item->getName()) ?></a>
                        </div>
                        <div class="product-review">
                            <?php  echo $this->getReviewsSummaryHtml($_item, "short", true); ?>
                        </div>
                        <div class="product-price">
                            <?php echo $this->getPriceHtml($_item, true) ?>
                        </div>
                        
                        
                        <div class="product-addto-wrap">
                            <div class="product-addcart">
                                <?php if($_item->isSaleable()): ?>
                                
                                    <a class="btn-cart" title="<?php echo $this->__('Add to cart') ?>" href="javascript:void(0);" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')">
                                        <?php echo $this->__('Add to cart') ?>
                                    </a>
                            
                                <?php else: ?>
                                <p class="availability out-of-stock">
                                    <span><?php echo $this->__('Out of stock') ?> </span>
                                </p>
                                <?php endif; ?>                             
                            </div>
                            <div class="wishlist-compare">
                                <?php if ( $this->helper('wishlist')->isAllow() ) : ?>
                                <a class="link-wishlist" href="<?php echo $this->helper('wishlist')->getAddUrl($_item) ?>" title="<?php echo $this->__('Add to wishlist') ?>">
                                    <?php //echo $this->__('Add to Wishlist') ?>
                                </a>
                                <?php endif; ?>
                
                                <?php if( $_compareUrl=$this->getAddToCompareUrl($_item) ): ?>
    
                                <a class="link-compare" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to compare'); ?>">
                                    <?php //echo $this->__('Add to Compare') ?>
                                </a>
                            
                                <?php endif;?>
                            </div>
                        </div>                          
                    </div>
                    
                </div>
                
            </li>         
    <?php //if ( $i == $limit ){ break; } ?>         
        <?php endforeach ?>
        </ol>
        <script type="text/javascript">decorateList('block-same', 'none-recursive')</script>
    </div>
    <script type="text/javascript">
    //<![CDATA[
   /*  $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="<?php echo $this->__('unselect all') ?>";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="<?php echo $this->__('select all') ?>";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    } */
  // Slider for related
   jQuery(document).ready(function($){
			var owl_same = $('#block-same');
			owl_same.owlCarousel({
						lazyLoad:true,
						navigation:false,
						margin:5,
						autoplay:true,
						loop:true,
						autoplayTimeout:3500,
						autoplayHoverPause: true,
						dots:false,
						responsive:{
							0 : {
								items : 1
							},
							480 : {
								items : 2
							},
							768 : {
								items : 3
							},
							992 : {
								items : 3
							},
							1200 : {
								items : 4
							},
						},
					/* afterAction: function(el){
					   //remove class active
					  this
					   .$owlItems
					   .removeClass('active')
					  
					   //add class active
					   this
					   .$owlItems //owl internal $ object containing items
					   .eq(this.currentItem + 1)
					   .addClass('test')
					  
					 } */
			});
		owlSm = owl_same.owlCarousel();
		$(".button-same .next2").click(function(){
			owlSm.trigger('next.owl.carousel');
		})
		$(".button-same .prev2").click(function(){
			owlSm.trigger('prev.owl.carousel');
		})
		// $('.owl-item.active').last().addClass('custom_last');
		// $('.owl-item.active').last().css({"margin-right":"3px"});
		// $('#block-same').on('translate.owl.carousel', function(e){
			 // $('.owl-item.active').removeClass('custom_last');
			 // $('.owl-item.active').last().addClass('custom_last');
			// $('.owl-item.active').last().css({"margin-right":"3px"});
       // /*  idx = e.item.index;
        // $('.owl-item.big').removeClass('big');
        // $('.owl-item.medium').removeClass('medium');
        // $('.owl-item').eq(idx).addClass('big');
        // $('.owl-item').eq(idx-1).addClass('medium');
        // $('.owl-item').eq(idx+1).addClass('medium');
		// $('.owl-item.big').css({"margin-right":"4px"}); */
		// }); 
		});
    //]]>
    </script>
</div>
<?php endif; ?>