 <?php 
  $order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
  if ($order->getPayment()->getMethod() == "pay")
  {
  ?>
  <?php
		$vtcURL=$this->thanhtoanvtcpay();
		echo ("<div align='center'><h2><font color='red'>Loading Data.Please Wait</font></h2></div><script>location.href='$vtcURL'</script>");
?>
 <?php } ?> 