<?php
	$product = $this->getParentBlock()->getProduct();
	if ($product == null) {
		$product = Mage::getModel('catalog/product')->load($this->getData('product_id'));
	}
	$gifts = $this->getProductGifts($product);
?>
<?php if ($product->getId() && count($gifts) > 0) : ?>
<div class="product-view-giftplus">
    <div class="product-view-promo">
        <div class="promo-title"><?php echo $this->__("Khuyến mãi:")?></div>
        <ul>
			<?php $check_text=array();?>
            <?php foreach ($gifts as $gift) : ?>
			<?php if ($gift->isEnabled()) : ?>
			<?php $contents[] = $gift->getContent(); ?>
			<?php $check_text[]=$gift->getStatusText();?>
			<?php endif; ?>
            <?php endforeach; ?>
			<?php
				if(count($contents)>=2){
					$donate = array();
					foreach($contents as $content){
						$arr = preg_split('/<br[^>]*>/i', $content);
						if(count($arr)>1){
							$donate = array_merge($donate,preg_split('/<br[^>]*>/i', $content));
							}else{
							$donate[]= $content;
						}
					}
					$gift_texts = array_unique($donate);					
				}
				else{
					$gift_texts = $contents;
				}
			?>
			<?php foreach ($gift_texts as $gift_text) : ?>
			<li><?php echo $gift_text; ?></li>
			<?php endforeach; ?>
			<?php if($this->getLayout()->createBlock('cms/block')->setBlockId('custom-block-gift')->toHtml()): ?>
			<li><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('custom-block-gift')->toHtml();?></li>
			<?php endif; ?>
			<?php if((in_array(1,$check_text)) && count($gift_texts)==1):?>
			<a href="call:18001788"><img style=" cursor: pointer;max-width:100%" src="<?php echo $this->getSkinUrl("images/hc/contact_online.gif") ?>" title="Giá ưu đãi đặc biệt khi mua online 1800 1788" alt="Giá ưu đãi đặc biệt khi mua online 1800 1788"></a>
			<?php endif;?>
		</ul>
	</div>
</div>
<?php endif; ?>