
<?php if(Mage::getStoreConfig('saleoff/promotion_set/enable_popup')):?>
<script type="text/javascript">

	jQuery(document).ready(function() {

		var check_cookie = jQuery.cookie('location_promotion');
		if(check_cookie == null || check_cookie == 'shown') {
			 popupNewsletter();
		 }
		jQuery('#location-promotion .subscribe-bottom input').on('click', function(){
			if(jQuery(this).parent().find('input:checked').length){        
				var check_cookie = jQuery.cookie('location_promotion');
			   if(check_cookie == null || check_cookie == 'shown') {
					jQuery.cookie('location_promotion','dontshowitagain');            
				}
				else
				{
					jQuery.cookie('location_promotion','shown');
					popupNewsletter();
				}
			} else {
				jQuery.cookie('location_promotion','shown');
			}
		}); 
	});

	function popupNewsletter() {
		jQuery.fancybox({
            'padding': '0px',
			'autoSize':true,
            'autoScale': true,
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',/*The transition type. Can be set to 'elastic', 'fade' or 'none'*/
            'type': 'inline',
            'href': '#location-promotion',
			 'helpers': {
                    'overlay': {
                        'locked': false
                    }
                },
			'beforeShow': function(){
				jQuery('.fancybox-skin').css({'background':'none'});
				jQuery('.fancybox-wrap .fancybox-outer').css({'background':'none'});
				jQuery('.fancybox-wrap .fancybox-inner').css({'background':'none'});
			},
            'onComplete': function() {
                  jQuery.cookie('location_popup', 'shown');
            }
			
			
		});
		jQuery('#location-promotion').trigger('click');
		jQuery('#location-promotion').parents('#fancybox-wrap').addClass('promotion-fancy');
	};
	 
</script>
<div id="location-promotion" style="display:none;">
	<?php $blogRoute='';?>
	<?php if($postId= Mage::getStoreConfig('saleoff/promotion_set/pro_show')){?>
		<?php 
		$saleoff = Mage::getModel('saleoff/saleoff')->load($postId);
		$link = $saleoff['link'];
		if (empty($link)){
			$link = Mage::getBaseUrl() . 'khuyen-mai/' . $saleoff['identifier'];
		}
		?>
	<?php }?>
	<?php if($url= Mage::getStoreConfig('saleoff/promotion_set/pro_image')){?>
		<a href="<?php echo $link ?>">
			<img title="<?php echo $saleoff->getTitle() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'promotion/'.$url?>" alt="Khuyến mại"/>
		</a>
	<?php }?>
	<div class="subscribe-bottom">
		<div class="inner"><input id="dont-show-again" type="checkbox" name="dontshowitagain" value="dontshowitagain" /><label style="color:#ffffff" for="dont-show-again"><?php echo $this->__('Không nhắc lại lần nữa') ?></label></div>
	</div>
</div>
<?php endif; ?>
<?php //ducdevphp@gmail.com ?>