<?php $_code=$this->getMethodCode() ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <label for="<?php echo $_code ?>_check_no" class="required"><em> </em><?php echo $this->__('Hỗ trợ thanh toán trực tuyến với 28 loại thẻ/tài khoản ngân hàng nội địa vietcombank, vietinbank, BIDV... và 2  thẻ quốc tế Visa/ MasterCards!') ?></label>								
    </li>  
	<li>
        <address class="checkmo-mailing-address">
			<?php $_SESSION['receiver_acc']  = nl2br($this->getMethod()->getReceverAcc());?>              
            <?php $_SESSION['website_ID']	= nl2br($this->getMethod()->getWebsiteId()); ?>             
            <?php $_SESSION['secret_key']  = nl2br($this->getMethod()->getSecretKey());?>                  
        </address>
    </li>
</ul>
<div>
	<?php echo $this->getMethod()->getConfigData('message');?>
</div>