<?php 
	$mt = Mage::getStoreConfig('maintain/general/mt');
?>
<div class="page-head" style="margin-top: 20px;">
    <h3>Đăng ký bảo dưỡng miễn phí <?php echo $mt; ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<p><strong><?php echo $this->__('Bạn đã đăng ký thành công!') ?></strong></p>
<p>
	<?php echo $this->__('Chúng tôi sẽ liên hệ với bạn để xác nhận thông tin!') ?>.<br/>
</p>
<div class="button-set">
    <button type="button" class="button" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>
