<!--@subject  {{var order.getStoreGroupName()}}: Mã hóa đơn # {{var invoice.increment_id}} cho đơn hàng # {{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650" bgcolor="#004b8f">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img width="60" src="{{skin url="images/hc/logo_email.gif" _area='frontend'}}" alt="Siêu thị Điện máy HC" border="0"/></a></td>
                    </tr>
                </table>
                <br/>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Xin chào quý khách</strong>,<br/>
                                Cảm ơn quý khách đã đặt hàng tại hệ thống siêu thị trực tuyến HC - Homecenter. Quý khách có thể kiểm tra thông tin đơn hàng với thông tin bên dưới.</p>
                            <p>Nếu quý khách gặp bất kỳ sự cố nào, xin vui lòng liên hệ qua email <a href="mailto:online@hc.com.vn" style="color:#1E7EC8;">online@hc.com.vn</a> Hoặc gọi cho chúng tôi qua số: <span class="nobr">1800 1788</span>. Rất hân hạnh được phục vụ quý khách.</p>
                            <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                                Số hóa đơn: {{var invoice.increment_id}} cho Đơn hàng số: {{var order.increment_id}}
                            </h3>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Thông tin thanh toán:</th>
                                        <th width="3%"></th>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức thanh toán:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.billing_address.format('html')}}
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var payment_html}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{depend order.getIsNotVirtual()}}
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Thông tin nhận hàng:</th>
                                        <th width="3%"></th>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức vận chuyển:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.shipping_address.format('html')}}
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.shipping_description}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{/depend}}

                            {{layout area="frontend" handle="sales_email_order_invoice_items" invoice=$invoice order=$order}}
                            <p>{{var comment}}</p>
							<p>Trân trọng cảm ơn Quý khách, 
							<strong> Điện máy HC Online.</strong></p>
                        </td>
                    </tr>
                </table>
				<table cellspacing="0" cellpadding="0" border="0" width="650" bgcolor="#004b8f">
    				<tr>
        				<td>
            				<p align="center"><font size="1" color="#FFFFFF">© 2015 VHC Corporation. All rights reserved <br>
							Công ty TNHH thương mại VHC | VHC Tower, 399 Phạm Văn Đồng - Hà Nội <br>
							Điện thoại:(04) 3750 1188 | Fax:(04) 3750 6099 | Email:online@hc.com.vn<br>
                            Bán hàng trực tuyến <b>{{config path='general/store_information/phone'}}</b> | CSKH <b>1900-1788.</b></font></p>
            			</td>
        			</tr>
    			</table>
            </td>
        </tr>
    </table>
</div>