<!--@subject Thông báo đơn đặt hàng mới số #{{var order.increment_id}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650" bgcolor="#004b8f">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img width="60" src="{{skin url="images/hc/logo_email.gif" _area='frontend'}}" alt="Siêu thị Điện máy HC" border="0"/></a></td>
                    </tr>
                </table>
                <br/>
                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Xin chào Quý khách {{var order.getCustomerName()}}.</h1><br/>
                                Cảm ơn quý khách đã tin tưởng và đặt hàng tại Điện máy HC Online. 
								<!--Để đảm bảo phục vụ Quý khách hàng tốt nhất trong dịp Tết, Điện máy HC Online sẽ ngừng tiếp nhận và xử lý đơn hàng mới từ 17h00 ngày 27/01/2015 đến ngày 06/02/2015 để tập trung chuyển hàng đến cho các khách hàng đã đặt mua trước đó.<br/>
								Lịch bán hàng Tết tại các siêu thị của HC như sau:<br/>
								- Các siêu thị HC tại Hà Nội bán hàng đến 22h tối ngày 29/01/2015<br/>
								- Các siêu thị HC tại tỉnh thành khác bán hàng đến 12h trưa ngày 30/01/2015<br/>
								- HC Online bán hàng đến 17h chiều ngày 27/01/2015-->
								Trong vòng 04 tiếng làm việc, nhân viên của HC sẽ gọi điện cho Quý khách để xác nhận tình trạng đơn đặt hàng, nội dung thanh toán cũng như thời gian chuyển hàng.</p>
                            <p>Quý khách có thể kiểm tra đơn đặt hàng theo thông tin bên dưới.</p>
                          <p>Nếu Quý khách có thắc mắc, xin vui lòng liên hệ qua email <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> hoặc gọi cho HC theo số máy miễn phí <span class="nobr"><strong>{{config path='general/store_information/phone'}}</strong></span>:</p>
                            <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                                Đơn hàng số: {{var order.increment_id}}
                            </h3>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Thông tin thanh toán:</th>
                                        <th width="3%"></th>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức thanh toán:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.getBillingAddress().format('html')}}
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var payment_html}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{depend order.getIsNotVirtual()}}
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <thead>
                                    <tr>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Thông tin nhận hàng:</th>
                                        <th width="3%"></th>
                                        <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức vận chuyển:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.getShippingAddress().format('html')}}
                                        </td>
                                        <td>&nbsp;</td>
                                        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                            {{var order.getShippingDescription()}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            {{/depend}}
                            {{layout handle="sales_email_order_items" order=$order}}

                            {{var items_html}}
                            <br/>
                            Lưu ý khi xử lý đơn hàng (nếu có): {{var order.getEmailCustomerNote()}}
                            <p>
                                Trân trọng cảm ơn Quý khách,<br/>
                                <strong>Điện máy HC Online.</strong>
                            </p>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650" bgcolor="#004b8f">
    				<tr>
        				<td>
            				<p align="center"><font size="1" color="#FFFFFF">© 2015 VHC Corporation. All rights reserved <br>
							Công ty TNHH thương mại VHC | VHC Tower, 399 Phạm Văn Đồng - Hà Nội <br>
							Điện thoại:(04) 3750 1188 | Fax:(04) 3750 6099 | Email:online@hc.com.vn<br>
                            Bán hàng trực tuyến <b>{{config path='general/store_information/phone'}}</b> | CSKH <b>1900-1788.</b></font></p>
            			</td>
        			</tr>
    			</table>
            </td>
        </tr>
    </table>
</div>