<!--@subject {{var store.getFrontendName()}}: Mã vận chuyển # {{var shipment.increment_id}} cập nhật mới @-->
<!--@vars
"htmlescape var=$order.getCustomerName()":"Customer Name"
@-->
<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650" bgcolor="#004b8f">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img width="60" src="{{skin url="images/hc/logo_email.gif" _area='frontend'}}" alt="Siêu thị Điện máy HC" border="0"/></a></td>
                    </tr>
                </table>
                <br/>
				<!-- [ middle starts here] -->
				<table cellspacing="0" cellpadding="0" border="0" width="650">
					<tr>
						<td valign="top">
							<p>
								<strong>Kính gửi {{var order.getCustomerName()}}.</strong>,<br/>
								Mã đơn hàng: {{var order.increment_id}} cập nhật thông tin mới:<br/>
								<strong>{{var order.getStatusLabel()}}</strong>.
							</p>
							<p>Quý khách có thể kiểm tra trạng thái đơn hàng bằng cách <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">đăng nhập tài khoản</a>.</p>
								<p>{{var comment}}</p>
							<p>Nếu Quý khách có thắc mắc, xin vui lòng liên hệ qua email <a href="mailto:bh_online@hchomecenter.com.vn" style="color:#1E7EC8;">online@hc.com.vn</a> hoặc gọi cho HC theo số máy miễn phí : <span class="nobr">1800 1788. </span></p>
							<p>Trân trọng cảm ơn Quý khách, 
							<strong> Điện máy HC Online.</strong></p>
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" width="650" bgcolor="#004b8f">
    				<tr>
        				<td>
            				<p align="center"><font size="1" color="#FFFFFF">© 2015 VHC Corporation. All rights reserved <br>
							Công ty TNHH thương mại VHC | VHC Tower, 399 Phạm Văn Đồng - Hà Nội <br>
							Điện thoại:(04) 3750 1188 | Fax:(04) 3750 6099 | Email:online@hc.com.vn<br>
                            Bán hàng trực tuyến <b>{{config path='general/store_information/phone'}}</b> | CSKH <b>1900-1788.</b></font></p>
            			</td>
        			</tr>
    			</table>
			</td>
		</tr>
	</table>
</div>