<?php
/**
 * Template for Mage_Adminhtml_Block_Widget_Grid
 *
 *  getId()
 *  getCollection()
 *  getColumns()
 *  getPagerVisibility()
 *  getVarNamePage()
 */
$numColumns = sizeof($this->getColumns());
?>
<?php if($this->getCollection()): ?>
    <?php if($this->canDisplayContainer()): ?>
        <?php if($this->getGridHeader()): ?>
        <div class="content-header">
            <table cellspacing="0">
                <tr>
                    <td style="width:50%;"><h2><?php echo $this->getGridHeader(); ?></h2></td>
                </tr>
            </table>
        </div>
        <?php endif ?>

        <div id="<?php echo $this->getId() ?>">
    <?php else: ?>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php endif; ?>
<?php if($this->getPagerVisibility() || $this->getExportTypes() || $this->getFilterVisibility()): ?>
    <table cellspacing="0" class="actions">
        <tr>
        <?php if($this->getPagerVisibility()): ?>
            <td class="pager">
			<a style="cursor: pointer;" id="checkalldvv" class="checkalldvv" onclick="checkalldvv();">Check All</a>
			<a>|</a>
			<a style="cursor: pointer;" id="uncheckalldvv" class='uncheckalldvv' onclick="uncheckalldvv();">Uncheck All</a>
            <?php echo $this->__('Page') ?>

            <?php $_curPage  = $this->getCollection()->getCurPage() ?>
            <?php $_lastPage = $this->getCollection()->getLastPageNumber() ?>
            <?php if($_curPage>1): ?>
                <a href="#" title="<?php echo $this->__('Previous page') ?>" onclick="<?php echo $this->getId() ?>JsObject.setPage('<?php echo ($_curPage-1) ?>');return false;"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="Go to Previous page" class="arrow"/></a>
            <?php else: ?>
                <img src="<?php echo $this->getSkinUrl('images/pager_arrow_left_off.gif') ?>" alt="Go to Previous page" class="arrow"/>
            <?php endif; ?>

            <input type="text" name="<?php echo $this->getVarNamePage() ?>" value="<?php echo $_curPage ?>" class="input-text page" onkeypress="<?php echo $this->getId() ?>JsObject.inputPage(event, '<?php echo $_lastPage ?>')"/>

            <?php if($_curPage < $_lastPage): ?>
                <a href="#" title="<?php echo $this->__('Next page') ?>" onclick="<?php echo $this->getId() ?>JsObject.setPage('<?php echo ($_curPage+1) ?>');return false;"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_right.gif') ?>" alt="Go to Next page" class="arrow"/></a>
            <?php else: ?>
                <img src="<?php echo $this->getSkinUrl('images/pager_arrow_right_off.gif') ?>" alt="Go to Previous page" class="arrow"/>
            <?php endif; ?>

            <?php echo $this->__('of %s pages', $this->getCollection()->getLastPageNumber()) ?>
            <span class="separator">|</span>
            <?php echo $this->__('View') ?>
            <select name="<?php echo $this->getVarNameLimit() ?>" onchange="<?php echo $this->getId() ?>JsObject.loadByElement(this)">
                <option value="20"<?php if($this->getCollection()->getPageSize()==20): ?> selected="selected"<?php endif; ?>>20</option>
                <option value="30"<?php if($this->getCollection()->getPageSize()==30): ?> selected="selected"<?php endif; ?>>30</option>
                <option value="50"<?php if($this->getCollection()->getPageSize()==50): ?> selected="selected"<?php endif; ?>>50</option>
                <option value="100"<?php if($this->getCollection()->getPageSize()==100): ?> selected="selected"<?php endif; ?>>100</option>
                <option value="200"<?php if($this->getCollection()->getPageSize()==200): ?> selected="selected"<?php endif; ?>>200</option>
            </select>
            <?php echo $this->__('per page') ?><span class="separator">|</span>
            <?php echo $this->__('Total %d records found', $this->getCollection()->getSize()) ?>
            <span id="<?php echo $this->getHtmlId() ?>-total-count" class="no-display"><?php echo $this->getCollection()->getSize() ?></span>
            <?php if($this->getRssLists()): ?>
                <?php foreach ($this->getRssLists() as $_rss): ?>
                <span class="separator">|</span><a href="<?php echo $_rss->getUrl() ?>" class="link-feed"><?php echo $_rss->getLabel() ?></a>
                <?php endforeach ?>
            <?php endif; ?>
        </td>
    <?php endif ?>
    <?php if($this->getExportTypes()): ?>
        <td class="export a-right">
            <img src="<?php echo $this->getSkinUrl('images/icon_export.gif') ?>" alt="" class="v-middle"/>&nbsp; <?php echo $this->__('Export to:') ?>
            <select name="<?php echo $this->getId() ?>_export" id="<?php echo $this->getId() ?>_export" style="width:8em;">
            <?php foreach ($this->getExportTypes() as $_type): ?>
                <option value="<?php echo $_type->getUrl() ?>"><?php echo $_type->getLabel() ?></option>
            <?php endforeach; ?>
            </select>
            <?php echo $this->getExportButtonHtml() ?>
        </td>
    <?php endif; ?>
        <td class="filter-actions a-right">
            <?php echo $this->getMainButtonsHtml() ?>
        </td>
        </tr>
    </table>
<?php endif; ?>
<?php if($this->getMassactionBlock()->isAvailable()): ?>
<?php echo $this->getMassactionBlockHtml() ?>
<?php endif ?>
<div class="grid">
	<div class="hor-scroll">
	<table cellspacing="0" class="data" id="<?php echo $this->getId() ?>_table">
	    <?php foreach ($this->getColumns() as $_column): ?>
	    <col <?php echo $_column->getHtmlProperty() ?> />
        <?php if ($_column->getEditable() && !$_column->getEditOnly()) : ?>
        <col <?php echo $_column->getHtmlProperty() ?> />
        <?php endif ?>
	    <?php endforeach; ?>
	    <?php if ($this->getHeadersVisibility() || $this->getFilterVisibility()): ?>
	        <thead>
	            <?php if ($this->getHeadersVisibility()): ?>
	                <tr class="headings">
	                <?php foreach ($this->getColumns() as $_column): $_columnHtml='';?>
	                    <th<?php echo $_column->getHeaderHtmlProperty() ?>>
						<?php
							if ($_column->getId() != 'in_gift') {
								$_columnHtml = $_column->getHeaderHtml();
							}
						?>
                        <span class="nobr">
							<?php echo $_columnHtml ?>
                        </span>    
                        </th>
	                <?php endforeach; ?>
	                </tr>
	            <?php endif; ?>
	            <?php if ($this->getFilterVisibility()): ?>
	                <tr class="filter">
	                <?php $i=0;foreach ($this->getColumns() as $_column): ?>
	                    <th<?php echo $_column->getHeaderHtmlProperty() ?>><?php echo $_column->getFilterHtml() ?></th>
	                <?php endforeach; ?>
	                </tr>
	            <?php endif ?>
	        </thead>
	    <?php endif; ?>
	    <?php if ($this->getCountTotals()): ?>
	        <tfoot>
	            <tr>
	            <?php foreach ($this->getColumns() as $_column): ?>
	                <th class="<?php echo $_column->getCssProperty() ?>"><?php echo $_column->getRowField($_column->getGrid()->getTotals()) ?>&nbsp;</th>
	            <?php endforeach; ?>
	            </tr>
	         </tfoot>
	    <?php endif; ?>
	    <tbody>
	    <?php if (($this->getCollection()->getSize()>0) && (!$this->getIsCollapsed())): ?>
	    <?php foreach ($this->getCollection() as $_index=>$_item): ?>
	        <tr title="<?php echo $this->getRowUrl($_item) ?>"<?php if ($_class = $this->getRowClass($_item)):?> class="<?php echo $_class; ?>"<?php endif;?> >
	        <?php $i=0;foreach ($this->getColumns() as $_column): ?>
	            <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$i==$numColumns?'last':'' ?>">
				<?php (($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?>
				<?php echo str_replace('type="checkbox"', 'type="checkbox" name="productIds[]" onchange="bindingProducts(this, this.value, '.$this->getData('giftplus_id').')"', $_html) ?>
				</td>
	        <?php endforeach; ?>
	        </tr>
	    <?php endforeach; ?>
	    <?php elseif ($this->getEmptyText()): ?>
	    	<tr>
	    		<td class="empty-text <?php echo $this->getEmptyTextClass() ?>" colspan="100"><?php echo $this->getEmptyText() ?></td>
	    	</tr>
	    <?php endif; ?>
	    </tbody>
	</table>
	</div>
</div>
<?php if($this->canDisplayContainer()): ?>
</div>
<script type="text/javascript">
	
//<![CDATA[
    <?php echo $this->getJsObjectName() ?> = new varienGrid('<?php echo $this->getId() ?>', '<?php echo $this->getGridUrl() ?>', '<?php echo $this->getVarNamePage() ?>', '<?php echo $this->getVarNameSort() ?>', '<?php echo $this->getVarNameDir() ?>', '<?php echo $this->getVarNameFilter() ?>');
    <?php echo $this->getJsObjectName() ?>.useAjax = '<?php echo $this->getUseAjax() ?>';
    <?php if($this->getRowClickCallback()): ?>
        <?php echo $this->getJsObjectName() ?>.rowClickCallback = <?php echo $this->getRowClickCallback() ?>;
    <?php endif; ?>
    <?php if($this->getRowInitCallback()): ?>
        <?php echo $this->getJsObjectName() ?>.initRowCallback = <?php echo $this->getRowInitCallback() ?>;
        <?php echo $this->getJsObjectName() ?>.rows.each(function(row){<?php echo $this->getRowInitCallback() ?>(<?php echo $this->getJsObjectName() ?>, row)});
    <?php endif; ?>
    <?php if($this->getMassactionBlock()->isAvailable()): ?>
    <?php echo $this->getMassactionBlock()->getJavaScript() ?>
    <?php endif ?>
//]]>
</script>
<?php endif; ?>
<?php endif ?>
<script type="text/javascript">
function bindingProducts(object, productId, giftId) {
	var checked = object.checked;
	var url = "<?php echo $this->getUrl('giftplus/ajax/bind') ?>" + 'giftId/'+giftId+'/productId/'+productId;
	if (!checked) {
		url = "<?php echo $this->getUrl('giftplus/ajax/unbind') ?>" + 'giftId/'+giftId+'/productId/'+productId;
	}
	new Ajax.Request(url, {
		method: 'get',
		onSuccess: function(response) {
		}
	});
}

	function uncheckalldvv(){
		var checkboxes = $$("#gift_products_table input[type=checkbox]");
		var cbControl = $("uncheckalldvv");
		
		cbControl.observe("click", function(){
		  checkboxes.each(function(box){
			box.setValue(false);
		  });
		});
	}
	function checkalldvv(){
		var checkboxes = $$("#gift_products_table input[type=checkbox]");
		var cbControl = $("checkalldvv");
		
		cbControl.observe("click", function()
		{
		  checkboxes.each(function(box){
			box.setValue(true)
		  });
		});
	}

</script>