<div class="saleoff-heading backtoschool">
    Hãy thường xuyên theo dõi các chương trình khuyến mãi để có cơ hội mua HÀNG CHÍNH HÃNG GIÁ RẺ NHẤT
</div>
<?php
    $resource = Mage::getSingleton('core/resource'); 
	$read     = $resource->getConnection('catalog_read'); 
	$select   = 'SELECT * FROM hcc_saleoff ORDER BY saleoff_id DESC';
	$collection = $read->fetchAll($select);
    $helper = Mage::helper('saleoff/data');
?>

<?php if ($collection && count($collection) > 0) :?>
<ul class="saleoff-list">
    <?php foreach ($collection as $saleoff) :?>
	<?php //echo $saleoff['expired_day']; ?>
	<?php $today = time(); ?>
	<?php $expired_day = strtotime($saleoff['expired_day']); ?>
	<?php $saleoff_id = $saleoff['saleoff_id']; ?>
	<?php $array_saleof = array('60','62','63','57','74'); ?>
	<?php if(in_array($saleoff_id,$array_saleof) == 1) : ?>
		
			<li class="item">        
				<div class="thumbnail-container">
					<a target="_blank" href="<?php echo $this->getBaseUrl().'khuyen-mai/'.$saleoff['identifier']; ?>">
						<img alt="<?php echo 'Chương trình khuyến mãi HC | ' . $saleoff['title']; ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA). $saleoff['filename'] ?>" width="200px" />
					</a>
				</div>
				<div class="desc-container">            
					<h3 class="saleoff-title"><a target="_blank" href="<?php echo $this->getBaseUrl().'khuyen-mai/'.$saleoff['identifier']; ?>"><?php echo $saleoff['title']; ?></a></h3>
		<!--            <p class="saleoff-date">Chương trình áp dụng từ <?php echo $helper->formatDate($saleoff['start_day']); ?> - <?php echo $helper->formatDate($saleoff['expired_day']); ?></p>-->
					<p class="saleoff-date"><?php echo $saleoff['description'];?></p>
		<!--            <p class="saleoff-desc">                
					</p>-->
				</div>
				<div class="clearfix"></div>
			</li>
		
	<?php endif; ?>
    <?php endforeach; ?>
</ul>
<?php else :?>
    <p>Hiện tại vẫn chưa có chương trình khuyến mại nào, xin quý khách vui lòng quay lại sau</p>
<?php endif; ?>