<?php
    $collection = $this->getPromo();
    $helper = Mage::helper('saleoff/data');
?>
<div class="saleoff-heading">
    <a href="<?php echo Mage::getBaseUrl() .'khuyen-mai' ?>"><?php echo $this->__("Hãy thường xuyên theo dõi các chương trình khuyến mãi để có cơ hội mua <strong> HÀNG CHÍNH HÃNG GIÁ TỐT NHẤT </strong>")?></a>	
</div>
<?php if ($collection && count($collection) > 0) :?>
<div class="widget-promotion">
	<?php foreach ($collection as $saleoff) :?>
		<?php $saleoff_id = $saleoff['saleoff_id']; ?>
		<?php $link = $saleoff['link']; ?>
		<?php if (empty($link)) :?>
			<?php $link = Mage::getBaseUrl() . 'khuyen-mai/' . $saleoff['identifier']; ?>
		<?php endif; ?>
		<?php $today = time(); ?>
		<ul>
			<li class="promotion">
				<div class="thumbnail-container">
					<a target="_blank" href="<?php echo $link; ?>">
						<?php if($saleoff['filename'] != "") {
							$imageFile = "saleoff/khuyen-mai/avatar/".$saleoff['filename'];
							$imgPath = Mage::helper('saleoff/image')->getResizedUrl($imageFile,310,150,'');
						} else {			
							$imageFile =  "saleoff/khuyen-mai/avatar/no_image_available.png";
							$imgPath = Mage::helper('saleoff/image')->getResizedUrl($imageFile,310,150,'');
						}
						?>
						<img src="<?php echo $imgPath;?>" alt="<?php ?>">
					</a>		
				</div>
				<div class="desc-container">            
					<h3 class="saleoff-title"><a target="_blank" href="<?php echo $this->getBaseUrl().'khuyen-mai/'.$saleoff['identifier']; ?>"><?php echo $saleoff['title']; ?></a></h3>
				</div>
				<div class="short_content">
					<p><?php echo $helper->formatDate($saleoff['start_day']); ?> - <?php echo $helper->formatDate($saleoff['expired_day']); ?></p>
				</div>
				<div class="clearfix"></div>
			</li>
		</ul>
	<?php endforeach; ?>
</div>
<?php else :?>
    <p><?php $this->__("Hiện tại vẫn chưa có chương trình khuyến mại nào, xin quý khách vui lòng quay lại sau") ?></p>
<?php endif; ?>