<?php $skin = $this->getSkinUrl(); ?>
<style>
    .category-products li.item {
        margin-right: 11px !important;
        margin-bottom: 11px;
        height: 240px !important;
    }
    .category-products li.last {
        margin-right: 0px !important;
    }
    .category-products li.item:hover
    {
        border:1px solid #62bdea !important;
    }
    .category-products li .product-name {
        font-size: 13px;
        line-height: 19px;
    }
    .products-grid .actions li.btn-buynow,
    .products-grid .actions li.btn-voucher
    {
        width: 77px !important;
        height: 36px !important;
        background-image: url('<?php echo $skin; ?>images/btn-saleoff-buy-now-1.png') !important;
        font-family: "Arial" !important;
        line-height: 36px !important;
        text-align: center;
        font-size: 10px !important;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .products-grid .actions li.btn-buynow a,
    .products-grid .actions li.btn-voucher a
    {
        color: #111;
    }
    .products-grid .actions li.btn-buynow:hover
    {
        background-image: url('<?php echo $skin; ?>images/btn-saleoff-buy-now-2.png') !important;
    }
    .products-grid .actions li.btn-voucher {
        padding-top: 3px !important;
        height: 33px !important;
        width: 83px !important;
        line-height: 15px !important;
        text-transform: none !important;
        background-image: url('<?php echo $skin; ?>images/btn-voucher.png') !important;
        margin-right: 10px;
    }
    .box-heading {
        background: url(<?php echo $skin; ?>images/bg_home_promo.jpg) left center no-repeat;
        height: 27px;
        line-height: 27px;
        padding-left: 40px;
    }
    .category-products {
        padding-top: 10px;
    }
</style>
<?php
$_debug = $this->getRequest()->getParam('debug');
$saleoff = $this->getSaleoff();
$listImages = $this->getImageList($saleoff);
$helper = Mage::helper('saleoff/data');
$saleoffId = $saleoff->getId();
?>
<div class="saleoff-heading">
    <h1><?php echo $saleoff->getTitle(); ?> <?php echo $saleoff->getDescription();?></h1>
</div>
<div class="saleoff-images">
    <div id="float_links" style="position: absolute; z-index: 999"></div>
    <?php if ($listImages && count($listImages) > 0) : ?>
        <?php foreach ($listImages as $image) : ?>
            <?php if (!is_dir($image)) : ?>
                <?php if ($saleoffId == 111) :?>
                    <a target="_blank" href="http://hc.com.vn/news/tin-tong-hop/tin-khuyen-mai/thang-khuyen-mai-san-phieu-mua-hang-online/"><img width="100%" src="<?php echo $helper->renderImageSrc($saleoff->getIdentifier(), $image); ?>" alt="Chương trình khuyến mãi HC | <?php echo $saleoff->getTitle(); ?>" /></a>
                <?php elseif ($saleoffId == 125) :?>
                    <a target="_blank" href="http://hc.com.vn/khuyen-mai/san-voucher-online"><img width="100%" src="<?php echo $helper->renderImageSrc($saleoff->getIdentifier(), $image); ?>" alt="Chương trình khuyến mãi HC | <?php echo $saleoff->getTitle(); ?>" /></a>
                <?php else :?>
                    <?php $saleoff_link = $saleoff->getLink(); ?>
                    <?php if (empty($saleoff_link)) :?>
                        <img width="100%" src="<?php echo $helper->renderImageSrc($saleoff->getIdentifier(), $image); ?>" alt="Chương trình khuyến mãi HC | <?php echo $saleoff->getTitle(); ?>" />
                    <?php else :?>
                        <a target="_blank" href="<?php echo $saleoff_link; ?>"><img width="100%" src="<?php echo $helper->renderImageSrc($saleoff->getIdentifier(), $image); ?>" alt="Chương trình khuyến mãi HC | <?php echo $saleoff->getTitle(); ?>" /></a>
                    <?php endif;?>
                <?php endif;?>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>
    <?php
    $id = $saleoff['identifier'];
    $block = Mage::getModel('cms/block')->load($id);
    ?>
    <div class="saleoff-product-link">
        <?php echo $block->getContent(); ?>
    </div>
</div>
<div class="saleoff-content">
    <h3 style="font-size:20px"><?php echo $saleoff->getDescription(); ?></h3>
</div>
<?php
    $id = $saleoff->getId();
?>
<!-- San phieu mua hang online -->
<?php if ($id == 111) :?>
<?php
    $rootId = 254;
    $rootCategory = Mage::getModel('catalog/category')->load($rootId);
    $children = explode(',', $rootCategory->getChildren());
    $_voucherValues = array(
        '255' => 200000,
        '256' => 300000,
        '257' => 500000,
        '258' => 1000000,
        '259' => 1500000,
        '260' => 2000000,
        '261' => 3000000,
        '262' => 5000000,
    );
    ?>
<?php if (count($children) > 0) :?>
    <?php foreach ($children as $catId) :?>
        <?php if (!in_array($catId, $_hidden)) :?>
            <?php
                $childCategory = Mage::getModel('catalog/category')->load($catId);
                $_productCollection = $childCategory->getProductCollection()
                    ->addAttributeToSelect(array('name', 'price_off', 'small_image', 'price', 'final_price', 'special_price'))
                    ->addStoreFilter();
                Mage::getSingleton('catalog/product_status')->addVisibleFilterToCollection($_productCollection);
                Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($_productCollection);
                $_productCollection->getSelect()->order('rand()');
                $_helper = $this->helper('catalog/output');
                $_collectionSize = count($_productCollection);
                ?>
            <style>
                #cat-<?php echo $catId; ?>-content{ position: relative;}
                #cat-<?php echo $catId; ?>-content .home_product_title{ background: url(<?php echo $skin; ?>images/bg_home_promo.jpg) left center no-repeat; height: 27px; top: 0px; left: 0px;}
                #cat-<?php echo $catId; ?>-content .home_product_title span{ font-size: 1.3em; line-height: 1.6em; color: #044a90; text-transform: uppercase; padding:5px 0px 0px 40px; font-weight: bold;}
                #cat-<?php echo $catId; ?>-content .home_product_title p{ border-bottom: 1px solid #4078ab; width:520px;  position: absolute; top:-5px; left:430px;}
                #cat-<?php echo $catId; ?>-content .slides_container{ width: 1024px; height: 250px;}
                #cat-<?php echo $catId; ?>-content .slides_container .product-name a{ width: 170px; height: 48px !important; position: relative; font-family: Arial; font-size: 12px; font-weight: bold}
                #cat-<?php echo $catId; ?>-content .next{ position: absolute; top:0px; right:0px; background: url(<?php echo $skin; ?>images/next.jpg) center no-repeat; text-indent: -2000px; padding: 4px 16px 5px 15px;}
                #cat-<?php echo $catId; ?>-content .prev{ position: absolute; top:0px; right:30px; background: url(<?php echo $skin; ?>images/prev.jpg) center no-repeat; text-indent: -2000px; padding: 4px 16px 5px 15px;}
                .products-grid {
                    padding: 5px 0px 0px 0px !important;
                    margin: 0 auto;
                    width: 1024px !important;
                }
            </style>
            <?php if ($_collectionSize > 0 && !empty($_productCollection) && $_productCollection) :?>
                <script type="text/javascript">
                    jQuery(function(){
                        jQuery('#cat-<?php echo $catId; ?>-content').slides({
                            preload: true,
                            generateNextPrev: true,
                            generatePagination: false
                        });
                    });
                </script>
                <div id="cat-<?php echo $catId; ?>-content" style="margin-top: 15px;">
                    <div class="home_product_title">
                        <span>Sản phẩm được tặng voucher <?php echo $childCategory->getName(); ?></span>
                        <p>&nbsp;</p>
                    </div>
                    <div class="category-products slides_container">
                        <?php
                        $_columnCount = 5;
                        $i = 0;
                        foreach ($_productCollection as $_product):
                            $catIds = $_product->getCategoryIds();
                            $_voucherValue = 0;
                            foreach ($catIds as $categoryId) {
                                if (isset($_voucherValues[$categoryId])) {
                                    $_voucherValue = $_voucherValues[$categoryId];
                                    break;
                                }
                            }
                            $_voucherPrice = $_product->getPrice() - $_voucherValue;
                            $_percent = 100 - round((float) $_voucherPrice / (float) $_product->getPrice() * 100);
                            $price = Mage::helper('core')->currency($_product->getPrice(), true, false);
                            ?>
                            <?php if ($_voucherValue > 0) :?>
                            <?php if ($i++ % $_columnCount == 0): ?>
                            <ul class="products-grid slide">
                        <?php endif ?>
                            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % 5 == 0): ?> last<?php endif; ?>">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>" width="150" height="150" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                <!---Gift content-->
                                <?php $giftPlusBlock = $this->getChild('giftplus'); ?>
                                <?php if (!$giftPlusBlock): ?>
                                <?php $giftPlusBlock = Mage::getBlockSingleton('giftplus/giftplus'); ?>
                                <?php endif; ?>
                                <?php $gifts = $giftPlusBlock->getProductGifts($_product); ?>
                                <?php if (count($gifts) > 0) : ?>
                                <div class="gift-img">&nbsp;</div>
                                <?php endif; ?>
                                <div class="price-box">
                                    <div class="special-price">
                                        <p class="price"><?php echo $price; ?></p>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <?php $save = round((float) $_product->getPrice() - (float) $_voucherPrice); ?>
                                </div>
                                <div class="actions">
                                    <ul class="add-to-links" style="padding-left: 55px">
                                        <li class="btn-buynow"><a href="<?php echo $this->getAddToCartUrl($_product) ?>" title="Mua ngay">Mua ngay</a></li>
                                    </ul>
                                </div>
                            </li>
                            <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                            </ul>
                            <?php endif ?>
                            <?php endif; ?>
                            <?php endforeach ?>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>

<!-- Voucher VIP -->
<?php if ($id == 115) :?>
<?php
    $rootId = 254;
    $rootCategory = Mage::getModel('catalog/category')->load($rootId);
    $children = explode(',', $rootCategory->getChildren());
    $_voucherValues = array(
        '255' => 200000,
        '256' => 300000,
        '257' => 500000,
        '258' => 1000000,
        '259' => 1500000,
        '260' => 2000000,
        '261' => 3000000,
        '262' => 5000000,
    );
    $_hidden = array(
        '255', '256', '257', '259', '260'
    );
    ?>
<?php if (count($children) > 0) :?>
    <?php foreach ($children as $catId) :?>
    <?php if (!in_array($catId, $_hidden)) :?>
        <?php
            $childCategory = Mage::getModel('catalog/category')->load($catId);
            $_productCollection = $childCategory->getProductCollection()
                ->addAttributeToSelect(array('name', 'price_off', 'small_image', 'price', 'final_price', 'special_price'))
                ->addStoreFilter();
            Mage::getSingleton('catalog/product_status')->addVisibleFilterToCollection($_productCollection);
            Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($_productCollection);
            $_productCollection->getSelect()->order('rand()');
            $_helper = $this->helper('catalog/output');
            $_collectionSize = count($_productCollection);
            ?>
            <style>
                #cat-<?php echo $catId; ?>-content{ position: relative;}
                #cat-<?php echo $catId; ?>-content .home_product_title{ background: url(<?php echo $skin; ?>images/bg_home_promo.jpg) left center no-repeat; height: 27px; top: 0px; left: 0px;}
                #cat-<?php echo $catId; ?>-content .home_product_title span{ font-size: 1.3em; line-height: 1.6em; color: #044a90; text-transform: uppercase; padding:5px 0px 0px 40px; font-weight: bold;}
                #cat-<?php echo $catId; ?>-content .home_product_title p{ border-bottom: 1px solid #4078ab; width:520px;  position: absolute; top:-5px; left:430px;}
                #cat-<?php echo $catId; ?>-content .slides_container{ width: 1024px; height: 250px;}
                #cat-<?php echo $catId; ?>-content .slides_container .product-name a{ width: 170px; height: 48px !important; position: relative; font-family: Arial; font-size: 12px; font-weight: bold}
                #cat-<?php echo $catId; ?>-content .next{ position: absolute; top:0px; right:0px; background: url(<?php echo $skin; ?>images/next.jpg) center no-repeat; text-indent: -2000px; padding: 4px 16px 5px 15px;}
                #cat-<?php echo $catId; ?>-content .prev{ position: absolute; top:0px; right:30px; background: url(<?php echo $skin; ?>images/prev.jpg) center no-repeat; text-indent: -2000px; padding: 4px 16px 5px 15px;}
                .products-grid {
                    padding: 5px 0px 0px 0px !important;
                    margin: 0 auto;
                    width: 1024px !important;
                }
            </style>
        <?php if ($_collectionSize > 0 && !empty($_productCollection) && $_productCollection) :?>
            <script type="text/javascript">
                jQuery(function(){
                    jQuery('#cat-<?php echo $catId; ?>-content').slides({
                        preload: true,
                        generateNextPrev: true,
                        generatePagination: false
                    });
                });
            </script>
            <div id="cat-<?php echo $catId; ?>-content" style="margin-top: 15px;">
                <div class="home_product_title">
                    <span>Sản phẩm áp dụng cho voucher <?php echo $childCategory->getName(); ?></span>
                    <p>&nbsp;</p>
                </div>
                <div class="category-products slides_container">
                    <?php
                    $_columnCount = 5;
                    $i = 0;
                    foreach ($_productCollection as $_product):
                        $catIds = $_product->getCategoryIds();
                        $_voucherValue = 0;
                        foreach ($catIds as $categoryId) {
                            if (isset($_voucherValues[$categoryId])) {
                                $_voucherValue = $_voucherValues[$categoryId];
                                break;
                            }
                        }
                        $_voucherPrice = $_product->getPrice() - $_voucherValue;
                        $_percent = 100 - round((float) $_voucherPrice / (float) $_product->getPrice() * 100);
                        $price = Mage::helper('core')->currency($_product->getPrice(), true, false);
                        ?>
                        <?php if ($_voucherValue > 0) :?>
                        <?php if ($i++ % $_columnCount == 0): ?>
                            <ul class="products-grid slide">
                        <?php endif ?>
                            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % 5 == 0): ?> last<?php endif; ?>">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>" width="150" height="150" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                <!---Gift content-->
                                <?php $giftPlusBlock = $this->getChild('giftplus'); ?>
                                <?php if (!$giftPlusBlock): ?>
                                <?php $giftPlusBlock = Mage::getBlockSingleton('giftplus/giftplus'); ?>
                                <?php endif; ?>
                                <?php $gifts = $giftPlusBlock->getProductGifts($_product); ?>
                                <?php if (count($gifts) > 0) : ?>
                                <div class="gift-img">&nbsp;</div>
                                <?php endif; ?>
                                <div class="price-box">
                                    <div class="special-price">
                                        <p class="price"><?php echo $price; ?></p>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <?php $save = round((float) $_product->getPrice() - (float) $_voucherPrice); ?>
                                </div>
                                <div class="actions">
                                    <ul class="add-to-links" style="padding-left: 55px">
                                        <li class="btn-buynow"><a href="<?php echo $this->getAddToCartUrl($_product) ?>" title="Mua ngay">Mua ngay</a></li>
                                    </ul>
                                </div>
                            </li>
                            <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                            </ul>
                            <?php endif ?>
                        <?php endif; ?>
                        <?php endforeach ?>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>

<!-- Ecomviet -->
<?php if ($id == 138) :?>
    <?php
    $rootId = 254;
    $rootCategory = Mage::getModel('catalog/category')->load($rootId);
    $children = explode(',', $rootCategory->getChildren());
    $_voucherValues = array(
        '255' => 200000,
        '256' => 300000,
        '257' => 500000,
        '258' => 1000000,
        '259' => 1500000,
        '260' => 2000000,
        '261' => 3000000,
        '262' => 5000000,
    );
    $_hidden = array(
        '255', '256', '257', '259', '260', '261'
    );
    ?>
    <?php if (count($children) > 0) :?>
        <?php foreach ($children as $catId) :?>
        <?php if (!in_array($catId, $_hidden)) :?>
            <?php
                $childCategory = Mage::getModel('catalog/category')->load($catId);
                $_productCollection = $childCategory->getProductCollection()
                    ->addAttributeToSelect(array('name', 'price_off', 'small_image', 'price', 'final_price', 'special_price'))
                    ->addStoreFilter();
                Mage::getSingleton('catalog/product_status')->addVisibleFilterToCollection($_productCollection);
                Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($_productCollection);
                $_productCollection->getSelect()->order('rand()');
                $_helper = $this->helper('catalog/output');
                $_collectionSize = count($_productCollection);
                ?>
                <?php if ($_collectionSize > 0 && !empty($_productCollection) && $_productCollection) :?>
                    <div class="category-products" style="padding-top: 10px; overflow: hidden">
                        <h3 class="box-heading" style="margin-bottom: 10px; font-size: 18px"><span>Sản phẩm áp dụng cho voucher <?php echo $childCategory->getName(); ?></span></h3>
                        <?php
                        $_columnCount = 5;
                        $i = 0;
                        $_voucherValues = array(
                            '255' => 200000,
                            '256' => 300000,
                            '257' => 500000,
                            '258' => 1000000,
                            '259' => 1500000,
                            '260' => 2000000,
                            '261' => 3000000,
                            '262' => 5000000,
                        );
                        foreach ($_productCollection as $_product):
                            $catIds = $_product->getCategoryIds();
                            $_voucherValue = 0;
                            foreach ($catIds as $categoryId) {
                                if (isset($_voucherValues[$categoryId])) {
                                    $_voucherValue = $_voucherValues[$categoryId];
                                    break;
                                }
                            }
                            $_voucherPrice = $_product->getPrice() - $_voucherValue;
                            $_percent = 100 - round((float) $_voucherPrice / (float) $_product->getPrice() * 100);
                            $price = Mage::helper('core')->currency($_product->getPrice(), true, false);
                            ?>
                            <?php if ($_voucherValue > 0) :?>
                            <?php if ($i++ % $_columnCount == 0): ?>
                            <ul class="products-grid slide">
                            <?php endif ?>
                            <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % 5 == 0): ?> last<?php endif; ?>">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>" width="150" height="150" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                <!---Gift content-->
                                <?php $giftPlusBlock = $this->getChild('giftplus'); ?>
                                <?php if (!$giftPlusBlock): ?>
                                <?php $giftPlusBlock = Mage::getBlockSingleton('giftplus/giftplus'); ?>
                                <?php endif; ?>
                                <?php $gifts = $giftPlusBlock->getProductGifts($_product); ?>
                                <?php if (count($gifts) > 0) : ?>
                                <div class="gift-img">&nbsp;</div>
                                <?php endif; ?>
                                <div class="price-box">
                                    <div class="special-price">
                                        <p class="price"><?php echo $price; ?></p>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <div class="clearfix">&nbsp;</div>
                                    <?php $save = round((float) $_product->getPrice() - (float) $_voucherPrice); ?>
                                </div>
                                <div class="actions">
                                    <ul class="add-to-links" style="padding-left: 55px">
                                        <li class="btn-buynow"><a href="<?php echo $this->getAddToCartUrl($_product) ?>" title="Mua ngay">Mua ngay</a></li>
                                    </ul>
                                </div>
                            </li>
                        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                </ul>
            <?php endif ?>
                        <?php endif; ?>
                        <?php endforeach ?>
                </div>
                <div class="clearfix">&nbsp;</div>
                <?php endif; ?>
            <?php endif; ?>
            <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>
<?php if ($id == 153) :?>
<div class="saleoff-more">
    <h3><a href="<?php echo $this->getBaseUrl(); ?>docs/Vietinbank-8-3.pdf">Chi tiết thể lệ chương trình xem tại đây</a></h3>
</div>
<?php endif; ?>
<?php $seo_content = $saleoff->getSeoContent(); ?>
<?php if (!empty($seo_content)) :?>
    <?php echo $seo_content; ?>
<?php endif; ?>
<?php
    $_productIds = $saleoff->getProducts();
    $_collectionSize = count($_productIds);
    $_productCollection = Mage::getModel('catalog/product')
                        ->getCollection()
                        ->addAttributeToFilter('entity_id', array('in' => $_productIds))
                        ->addAttributeToSelect(array('name', 'price_off', 'small_image', 'price', 'final_price', 'special_price'))
                        ->addStoreFilter();
    $_helper = $this->helper('catalog/output');
?>
<?php if (!empty($_productCollection) && $_productCollection) :?>
<div class="category-products">
    <?php $_columnCount = 5; $i = 0; foreach ($_productCollection as $_product) :?>
        <?php
            $catIds = $_product->getCategoryIds();
            $product_final_price = $_product->getFinalPrice();
            $product_price = $_product->getPrice();
            $product_url = $_product->getProductUrl();
            $_percent = 100 - round((float) $product_final_price / (float) $product_price * 100);
            $price = Mage::helper('core')->currency($product_price, true, false);
        ?>
        <?php if ($i++ % $_columnCount == 0): ?>
            <ul class="products-grid slide">
        <?php endif ?>
        <li style="height: 280px !important;" class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % 5 == 0): ?> last<?php endif; ?>">
            <a href="<?php echo $product_url; ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150); ?>" width="150" height="150" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
            </a>
            <h2 class="product-name"><a href="<?php echo $product_url; ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
            <div class="price-box">
                <div class="price-box">
                    <p class="special-price">
                        <span class="price-label">Giá KM:</span>
                        <span class="price"><?php echo Mage::helper('core')->currency($product_final_price, true, false); ?></span>
                    </p>
                    <?php if ($product_final_price != $product_price) :?>
                    <p class="save-cost">
                        <?php $save = round((float) $product_price - (float) $product_final_price); ?>
                        <span><?php echo 'Tiết kiệm:'; ?> <?php echo Mage::helper('core')->currency($save, true, false); ?></span>
                    </p>
                    <p class="old-price">
                        <span class="price-label">Giá NY:</span>
                        <span class="price"><?php echo $price; ?></span>
                    </p>
                    <?php endif; ?>
                </div>
            </div>
            <div class="actions">
                <ul class="add-to-links" style="padding-left: 55px">
                    <li class="btn-buynow"><a href="<?php echo $this->getAddToCartUrl($_product) ?>" title="Mua ngay">Mua ngay</a></li>
                </ul>
            </div>
        </li>
        <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
            </ul>
        <?php endif ?>
    <?php endforeach ?>
</div>
<?php endif; ?>
<?php if ($id == 243) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-10-tuan2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 244) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-10-tuan3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 289) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-1-2015-tuan3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 293) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-1-2015-tuan4.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 296) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-1-2015-tuan5.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 299) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-1-2015-tuan6.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 302) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-1-2015-tuan7.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 303) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-3-2015-tuan1.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 305) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-3-2015-tuan2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 310) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-3-2015-tuan3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 327) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-4-2015-tuan2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<?php if ($id == 332) :?>
    <audio autoplay="autoplay" controls="controls" loop="loop">
        <source src="http://hc.com.vn/media/audio/hc-thang-4-2015-tuan3.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
<?php endif; ?>
<div class="saleoff-more">
    <h3>Xem thêm các chương trình khuyến mãi cực hấp dẫn tại đây: <a href="<?php echo Mage::getBaseUrl() . 'khuyen-mai/' ?>"><?php echo Mage::getBaseUrl() . 'khuyen-mai/' ?></a></h3>
</div>
<script type='text/javascript'>
    /* jQuery("#megamenu").hover(function() {
        jQuery("#float_links").hide();
    }, function() {
        jQuery("#float_links").show();
    }); */
	function escapeHtml(unsafe) {
		return unsafe
			 .replace(/&/g, "&amp;")
			 .replace(/</g, "&lt;")
			 .replace(/>/g, "&gt;")
			 .replace(/"/g, "&quot;")
			 .replace(/'/g, "&#039;");
	}
	Event.observe(window, 'load', function() {
		
		var html='<?php echo $saleoff->getTextContent() ?>' ;
		$('float_links').replace('<div id="float_links" style="position: absolute; z-index: 999">'+ html +'</div>');	
	})
    /*
    jQuery(".megamenu").hover(function() {
        jQuery(".megamenu .nav-container").show();
    }, function() {
        jQuery(".megamenu .nav-container").hide();
    });
    */
</script>