<div class="page-head" style="margin-top: 20px;">
    <h3><?php echo $this->__('Đăng ký trả góp thành công') ?></h3>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<p><strong><?php echo $this->__('Cảm ơn quý khách!') ?></strong></p>
<p>
	<?php echo $this->__('Chúng tôi sẽ sớm gọi lại cho quý khách sau vài phút để xác nhận đăng ký này') ?>.<br/>
</p>
<div class="button-set">
    <button type="button" class="button" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>
