<?php
/*------------------------------------------------------------------------
 # SM Tab Listing - Version 1.0
 # Copyright (c) 2013 YouTech Company. All Rights Reserved.
 # @license - Copyrighted Commercial Software
 # Author: YouTech Company
 # Websites: http://www.magentech.com
-------------------------------------------------------------------------*/

$smarthelper = Mage::helper('tablisting/utils');
$options  = $this->getConfigObject();
$maxtitle = $options->item_title_max_characs;
$max_des = $options->item_desc_max_characs;
$img_width = $options->item_image_width;
$img_height = $options->item_image_height;
$post     = Mage::app()->getRequest()->getPost();
$options = $this->getConfigObject(); 
if( (Mage::getSingleton('cms/page')->getIdentifier() == 'home-v2'  && 
Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') || (Mage::getSingleton('cms/page')->getIdentifier() == 'home-v3'  && 
Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') ) {  
	$column = 3;  //  number item in once load
    //echo $options->nb_column1;
	// $col = 4; 
	// $class_listing = 'col-lg-4 col-md-4';
} else{  
	$column = 4; 
	// $col = 3; 
	// $class_listing = 'col-lg-3 col-md-3';
} 	
if( $post ){
	$cms_page = $post['cms_page'];
	$is_ajax  = $post['is_ajax'];
	$cat_id   = $post['tab_cat_id'];
	$order_id = $post['order_id'];
	$count    = $post['ajax_tablisting_start'];
	if( $cms_page == 'home-v2' ||  $cms_page == 'home-v3') {  
		$column = 3; 
		// $col = 4; 
		// $class_listing = 'col-lg-4 col-md-4';
	}
}else{
	$is_ajax  = "";
	$cat_id   = "";
	$order_id = "";
	$count    = "";	
}

if( $is_ajax ){ 
	$type     =  $post['data_type'];
	if( $type == 'order' ){
		$child_items = $this->getProductsOrder($order_id);
	} else {
		$child_items = $this->getProducts($cat_id);
	}
}
if( !empty($child_items) ) { 
	if( $is_ajax ){
		$k = $count;
	} else {
		$k = 0;
	} ?>	
			
<?php $i=0;?>
<?php 	$tag_id = 'carousel_'.rand().time();
		$btn_class='control_'.$cat_id.rand().time();
		$owlCarousel='carousel_wrap_'.$cat_id.rand().time();
?>
		<div class="container-slider-detail slider-tab-listing <?php echo $column;?>">
			<div id="<?php echo $tag_id; ?>" class="category-products  slide slider-tbl slider-tabl">
				<div class="carousel-control-wrap <?php echo $btn_class ?>">
					<a class="carousel-control-tab prev">
						<?php echo $this->__('Previous'); ?>
					</a>
					<a class="carousel-control-tab next">
						<?php echo $this->__('Next'); ?>
					</a>
				</div>
				<div class="owl_custom_tab products-grid <?php echo $owlCarousel ?>">
					<?php
						$_count = count($child_items);
					?>				
					<?php foreach( $child_items  as $item ){ $k++;  $i++;
						$_product = Mage::getModel('catalog/product')->load($item->id);
						$now = date("Y-m-d H:m:s");
						$newsFrom= $_product->getNewsFromDate(); //substr($_product->getData('news_from_date'),0,10);
						$newsTo= $_product->getNewsToDate();   //substr($_product->getData('news_to_date'),0,10);
						$specialprice = Mage::getModel('catalog/product')->load($_product->getId())->getSpecialPrice();
						$price = Mage::getModel('catalog/product')->load($_product->getId())->getPrice();
						$special_from_date = $_product->getSpecialFromDate();
						$special_to_date = $_product->getSpecialToDate();
					?>
					<div class="item item-tab-listing <?php if( $i == 1 ){echo 'active';}?>">
							<div class="item-inner">
								<div class="product-image productId<?php echo $_product->getId() ?>">
									<a href="<?php echo $_product->getProductUrl() ?>" class="product-img" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>">
									<?php
									if($_product->getThumbnail() != $_product->getSmallImage()) { ?> 
		                               <img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
		                               <img class="thumnail-image image-hover" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(270,270) ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" />                         	<?php } else { ?>
		                           		<img class="small-image" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(270,270); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
		                           <?php } ?>
									</a>
									<?php if ( $now>=$newsFrom && $now<=$newsTo ){ ?>
										<span class="new-product have-ico"><?php echo $this->__('New'); ?></span>
									<?php }
		                            if (Mage::helper('market')->_checkSale($_product)){ ?>
										<span class="sale-product-old have-ico"><?php echo $this->__('Sale'); ?></span>
									<?php } ?>	
								<?php if(Mage::helper('market/gift')->checkGift($_product)):?>
									<div class="gift-img"></div>
								<?php endif;?>
								</div>
								<div class="product-info">
									<?php if( $options->item_title_display == 1 ){?>
									<div class="product-name">
										<a href="<?php echo $item->link ?>" <?php echo $smarthelper->getTargetAttr($options->product_links_target);?> onclick="javascript: return true"  title="<?php echo $item->title?>" >
											<?php if(strlen($item->title)<45): ?>
											<?php echo $item->title ?>
											<?php else: ?>
											<?php echo substr($item->title,0,45)."..."; ?>
											<?php endif;?>
										</a>
									</div>									
									<?php } ?>
									
									<?php if( $options->item_review_disp == 1 ) {?>
										<div class="product-review">
											<?php echo $item->review_html; ?>
										</div>
									<?php }?>
									
									<?php if( $options->item_price_disp == 1 ) {	?>
										<div class="product-price">
											  <?php //echo $item->price_html; ?>
											  <?php echo $this->getPriceHtml($_product, false, '_b') ?>
										</div>
										<?php }?>
										
									<?php if( $options->item_desc_display == 1 ) {?>
									<div class="item-desc">
										<?php echo substr($item->description,0,$max_des);?>
									</div>
									<?php }?>
									
									<div class="product-addto-wrap">
										<div class="button-action item-addcart">
											
											<?php if( $options->item_cart_disp == 1 ) {?>
										
												<div class="product-addcart">
													<?php if($_product->isSaleable()): ?>
				                                    
				                                        <a class="btn-cart" title="<?php echo $this->__('Add to cart') ?>" href="javascript:void(0);" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
				                                            <?php echo $this->__('Add to Cart') ?>
				                                        </a>
				                                
													<?php else: ?>
													<p class="availability out-of-stock">
														<span><?php echo $this->__('Out of stock') ?> </span>
													</p>
													<?php endif; ?>								
												</div>																															
											<?php } ?>
											<div class="wishlist-compare">												
												<?php if ( $this->helper('wishlist')->isAllow() ) : ?>
												<a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist">
													<?php echo $this->__('Add to Wishlist') ?>
												</a>
												<?php endif; ?>
												<?php if( $options->item_compare_disp == 1 && $_compareUrl=$this->getAddToCompareUrl($_product)){ ?>                    						
												<a class="link-compare" href="<?php echo $_compareUrl ?>" title="<?php echo $this->__('Add to Compare'); ?>">
													<?php echo $this->__('Add to Compare') ?>
												</a>							
												<?php } ?>												
											</div>
											
										</div>
									</div>						
								</div>
							</div>
						</div>					
					<?php } ?>
				</div>
			</div>
		</div>	
<script type="text/javascript">
           jQuery(document).ready(function($){
			var owl_<?php echo $tag_id ?> = $('.<?php echo $owlCarousel?>');
			owl_<?php echo $tag_id ?>.owlCarousel({
						lazyLoad:true,
						navigation:false,
						margin:0,
						autoplay:true,
						loop:true,
						autoplayTimeout:3500,
						autoplayHoverPause: true,
						dots:false,
						responsive:{
							0 : {
								items : 1
							},
							320 : {
								items : 2
							},
							360 : {
								items : 2
							},
							480 : {
								items : <?php echo $options->nb_column4 ?>
							},
							768 : {
								items : <?php echo $options->nb_column3 ?>
							},
							980 : {
								items : <?php echo $options->nb_column2 ?>
							},
							1200 : {
								items : <?php echo $options->nb_column1 ?>
							},
							1600 : {
								items : <?php echo $options->nb_column0 ?>
							},
						}
			});
		owlO_<?php echo $tag_id ?> = owl_<?php echo $tag_id ?>.owlCarousel();
		$(".<?php echo $btn_class ?> .next").click(function(){
			owlO_<?php echo $tag_id ?>.trigger('next.owl.carousel');
		})
		$(".<?php echo $btn_class ?> .prev").click(function(){
			owlO_<?php echo $tag_id ?>.trigger('prev.owl.carousel');
		})
		});
</script>
<?php }?>
