 <?php 
  $order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId());
  if ($order->getPayment()->getMethod() == "nganluong")
  {
  ?>
       <p>
        <input type="hidden" value="<?php echo $this->thanhtoannganluong();?>"  id="urlNganLuong" />
        </p>
        
 <?php } ?> 