<?php if ($posts = $this->getRecent()): ?>

    <div class="widget-promotion">
        <ul>
            <?php foreach ($posts as $post): ?>
				<?php if($post["m_logo"] != "") {
					$imgPath = Mage::helper('blog/image')->getResizedUrl($post["m_logo"],310,150,'');
				} else {			
					$imageFile =  "sm/blog/files/n/i/no_image_available.png";
					$imgPath = Mage::helper('blog/image')->getResizedUrl($imageFile,310,150,'');
				}
				?>
                <li class="promotion">
					<div class="thumbnail-container">
						<a href="<?php echo $post->getAddress(); ?>" target="_blank">
							<img src="<?php echo $imgPath?>" alt="<?php echo $post->getTitle();?>">
						</a>		
					</div>
					<div class="desc-container">            
						<h3 class="saleoff-title"><a href="<?php echo $post->getAddress(); ?>" target="_blank"><?php echo $post->getTitle() ?></a></h3>
					</div>
					<div class="short_content">
						<?php echo $post->getShortContent(); ?>
					</div>
					<div class="clearfix"></div>
				</li>
            <?php endforeach; ?>
        </ul>
    </div>
	<?php echo $this->getPagerHtml(); ?>
<?php endif; ?>