<div class="support-container">
  <div class="container">
     <div class="row">
    <div class="support-content">
        <ul class="support_banner">
            <li onclick="javascript:window.location.href='{{store url="contact"}}'; return false;" class="first"><span>CSKH</span><p><img alt="" src="{{skin url="hc/images/1900.gif"}}"></p></li>
            <li class="last"><span>KD ONLINE</span><p><img alt="" src="{{skin url="hc/images/1800.gif"}}"></p></li>
        </ul>
        <ul style="width:666px;" class="sub">                                     
                <li class="first" style="width:68px; padding: 3px 1px 4px 11px;">
					<a href="ymsgr:sendIM?salehc_03" title="" class="text">Điện Tử </a>
                    <a href="ymsgr:sendIM?salehc_03"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_03&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_03 ?&gt;&amp;m=g&amp;t=19"></a>
					<a "="" href="ymsgr:sendIM?salehc_06"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_06&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_06 ?&gt;&amp;m=g&amp;t=19"></a>
                </li>     
				<li style="padding: 3px 1px 4px 11px;">
					<a href="ymsgr:sendIM?salehc_05" title="" class="text">CNTT-IT </a>
                    <a href="ymsgr:sendIM?salehc_05"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_05&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_05 ?&gt;&amp;m=g&amp;t=19"></a>
					<a "="" href="ymsgr:sendIM?salehc_08"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_08&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_08 ?&gt;&amp;m=g&amp;t=19"></a>
                </li>  
				<li style="padding: 3px 1px 4px 11px;">
					<a href="ymsgr:sendIM?salehc_11" title="" class="text">Điện Lạnh</a>
                    <a href="ymsgr:sendIM?salehc_11"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_11&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_11 ?&gt;&amp;m=g&amp;t=19"></a>
					<a "="" href="ymsgr:sendIM?salehc_04"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_04&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_04 ?&gt;&amp;m=g&amp;t=19"></a>
                </li>  
				<li style="padding: 3px 1px 4px 11px;">
					<a href="ymsgr:sendIM?salehc_03" title="" class="text">Gia Dụng</a>
                    <a href="ymsgr:sendIM?salehc_02"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_02&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_02 ?&gt;&amp;m=g&amp;t=19"></a>
					<a "="" href="ymsgr:sendIM?salehc_09"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_09&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_09 ?&gt;&amp;m=g&amp;t=19"></a>
                </li>  
				<li style="padding: 3px 1px 4px 11px;">
					<a href="ymsgr:sendIM?salehc_07" title="" class="text">Giải  Trí Số</a>
                    <a href="ymsgr:sendIM?salehc_07"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_07&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_07 ?&gt;&amp;m=g&amp;t=19"></a>
					<a "="" href="ymsgr:sendIM?salehc_10"><img width="25px" border="0" src="http://opi.yahoo.com/online?u=salehc_10&gt;&amp;m=g&amp;t=19" mce_src="http://opi.yahoo.com/online?u=salehc_10 ?&gt;&amp;m=g&amp;t=19"></a>
                </li>  				
        </ul>
    </div>
</div>
</div>
</div>