

/*--------------upsell no slider--------*/
#yt_main .yt-product-detail .sm-slider  .item,.sameproduct-block .item{
	float: left;
	padding: 0 10px;
	margin-right: -3px;
}


/*device*/
	.yt-product-detail .sm-slider .preset02-1 .item{float: left;margin: 0; width: 100%;}

	.yt-product-detail .sm-slider .preset02-2 .item{float: left;margin: 0; width: 50%;}

	.yt-product-detail .sm-slider .preset02-3 .item{float: left;margin: 0; width: 33.3333%;}

	.yt-product-detail .sm-slider .preset02-4 .item{float: left;margin: 0; width: 25%;}

	.yt-product-detail .sm-slider .preset02-5 .item{float: left;margin: 0; width: 20%;}

	.yt-product-detail .sm-slider .preset02-6 .item{float: left;margin: 0; width: 16.6666%;}	

@media all and (max-width: 320px){

	.yt-product-detail .sm-slider .preset05-1 .item{float: left;margin: 0; width: 100%;}

	.yt-product-detail .sm-slider .preset05-2 .item{float: left;margin: 0; width: 50%;}

	.yt-product-detail .sm-slider .preset05-3 .item{float: left;margin: 0; width: 33.3333%;}

	.yt-product-detail .sm-slider .preset05-4 .item{float: left;margin: 0; width: 25%;}

	.yt-product-detail .sm-slider .preset05-5 .item{float: left;margin: 0; width: 20%;}

	.yt-product-detail .sm-slider .preset05-6 .item{float: left;margin: 0; width: 16.6666%;}	
}
@media all and (min-width: 321px) and (max-width: 480px){
	.yt-product-detail .sm-slider .preset04-1 .item{float: left;margin: 0; width: 100%;}

	.yt-product-detail .sm-slider .preset04-2 .item{float: left;margin: 0; width: 50%;}

	.yt-product-detail .sm-slider .preset04-3 .item{float: left;margin: 0; width: 33.3333%;}

	.yt-product-detail .sm-slider .preset04-4 .item{float: left;margin: 0; width: 25%;}

	.yt-product-detail .sm-slider .preset04-5 .item{float: left;margin: 0; width: 20%;}

	.yt-product-detail .sm-slider .preset04-6 .item{float: left;margin: 0; width: 16.6666%;}	
}

@media all and (min-width: 481px) and (max-width: 768px){

	.yt-product-detail .sm-slider .preset03-1 .item{float: left;margin: 0; width: 100%;}

	.yt-product-detail .sm-slider .preset03-2 .item{float: left;margin: 0; width: 50%;}

	.yt-product-detail .sm-slider .preset03-3 .item{float: left;margin: 0; width: 33.3333%;}

	.yt-product-detail .sm-slider .preset03-4 .item{float: left;margin: 0; width: 25%;}

	.yt-product-detail .sm-slider .preset03-5 .item{float: left;margin: 0; width: 20%;}

	.yt-product-detail .sm-slider .preset03-6 .item{float: left;margin: 0; width: 16.6666%;}			
}

@media all and (min-width: 769px) and (max-width: 1200px){

	.yt-product-detail .sm-slider .preset02-1 .item{float: left;margin: 0; width: 100%;}

	.yt-product-detail .sm-slider .preset02-2 .item{float: left;margin: 0; width: 50%;}

	.yt-product-detail .sm-slider .preset02-3 .item{float: left;margin: 0; width: 33.3333%;}

	.yt-product-detail .sm-slider .preset02-4 .item{float: left;margin: 0; width: 25%;}

	.yt-product-detail .sm-slider .preset02-5 .item{float: left;margin: 0; width: 20%;}

	.yt-product-detail .sm-slider .preset02-6 .item{float: left;margin: 0; width: 16.6666%;}			
}

@media all and (min-width: 1201px){

	.yt-product-detail .sm-slider .preset01-1 .item{float: left;margin: 0; width: 100%;}

	.yt-product-detail .sm-slider .preset01-2 .item{float: left;margin: 0; width: 50%;}

	.yt-product-detail .sm-slider .preset01-3 .item{float: left;margin: 0; width: 33.3333%;}

	.yt-product-detail .sm-slider .preset01-4 .item{float: left;margin: 0; width: 25%;}

	.yt-product-detail .sm-slider .preset01-5 .item{float: left;margin: 0; width: 20%;}

	.yt-product-detail .sm-slider .preset01-6 .item{float: left;margin: 0; width: 16.6666%;}	
}


/*-------------custom for theme------------*/
#yt_main .sm-slider{
	clear:both;
	margin:25px -2px 0 0px;
	display: inline-block;
	width: 100%;
}
#yt_main .sm-slider .slider{
	clear: both;
	margin: 15px -12px -5px -10px;
	padding: 5px;
	overflow: hidden;
}
/* #yt_main .sm-slider .item{
	margin:0; 
	padding:0 0 0 0px;

} */
#yt_main .sm-slider .item img{
	
}
#yt_main .sm-slider .page-button.top {

}
/*#yt_main .sm-slider .page-button.top .control-button{
	left:53%;
	top:35px;
	display:inline-block;
}
#yt_main .sm-slider .page-button .control-button li {
	width:35px; 
	height:35px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;

	background-image:url(../images/next-prev2.png);
	background-repeat:no-repeat;
	float:left;
}
#yt_main .sm-slider .page-button.top .control-button li {
		background-color:#7f7f7f;
}
#yt_main .sm-slider .page-button.middle .control-button li {
		background-color:#787878;
		top:23px;
}*/
#yt_main .sm-slider .page-button .control-button .preview{
	background-position:15px center;
}
#yt_main .sm-slider .page-button.top .control-button .preview{
	right:37px;
}
#yt_main .sm-slider .page-button .control-button .next{
	background-position:-27px center;
}

.slider-logo{
	background-color:#f1f1f1;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	margin-top:54px;
}
#yt_main .slider-logo .sm-slider .slider{
	margin-left:30px;
	margin-right:30px;
	margin-top:0px;
}

#yt_main .slider-logo .sm-slider .vpo-wrap .vp .vpi-wrap:hover .item{
	 opacity:0.7; 
     filter: alpha(opacity=70); 	 
}
#yt_main .slider-logo .sm-slider .preset01-6 .vpo-wrap .vp .vpi-wrap .item:hover{
	 opacity:1; 
     filter: alpha(opacity=100); 	 
}
#yt_main .slider-logo .sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-img{
	border:none;
	padding:0;
}
#yt_main .slider-logo .sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info{
	display:none;
}
/*****************************************/

	.sm-slider .preset02-1 .vpo-wrap { width: 100%; margin: 0; }
	.sm-slider .preset02-1 .vpo-wrap .vp{ margin-right: 0; }
	.sm-slider .preset02-1 .vpo-wrap .vp .item{float: left;margin: 0;width: 100%;}

	.sm-slider .preset02-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sm-slider .preset02-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sm-slider .preset02-2 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 48%;}

	.sm-slider .preset02-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sm-slider .preset02-3 .vpo-wrap .vp{ margin-right: -200%; }
	/*.sm-slider .preset02-3 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 31.3333%;}*/
	.sm-slider .preset02-3 .vpo-wrap .vp .item{float: left;width: 33.3333%;}

	.sm-slider .preset02-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sm-slider .preset02-4 .vpo-wrap .vp { margin-right: -300%; }
	/*.sm-slider .preset02-4 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 23%;}*/
	.sm-slider .preset02-4 .vpo-wrap .vp .item{float: left;width: 25%;}

	.sm-slider .preset02-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sm-slider .preset02-5 .vpo-wrap .vp { margin-right: -400%; }
	.sm-slider .preset02-5 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 18%;}

	.sm-slider .preset02-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sm-slider .preset02-6 .vpo-wrap .vp { margin-right: -500%; }
	.sm-slider .preset02-6 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 14.6666%;}	

@media all and (max-width: 320px){
	.sm-slider .preset05-1 .vpo-wrap { width: 100%; margin: 0; }
	.sm-slider .preset05-1 .vpo-wrap .vp{ margin-right: 0; }
	.sm-slider .preset05-1 .vpo-wrap .vp .item{float: left;margin: 0;width: 100%;}

	.sm-slider .preset05-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sm-slider .preset05-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sm-slider .preset05-2 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 48%;}

	.sm-slider .preset05-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sm-slider .preset05-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sm-slider .preset05-3 .vpo-wrap .vp .item  {float: left;margin: 0 1%;width: 31.3333%;}

	.sm-slider .preset05-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sm-slider .preset05-4 .vpo-wrap .vp { margin-right: -300%; }
	.sm-slider .preset05-4 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 23%;}

	.sm-slider .preset05-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sm-slider .preset05-5 .vpo-wrap .vp { margin-right: -400%; }
	.sm-slider .preset05-5 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 18%;}

	.sm-slider .preset05-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sm-slider .preset05-6 .vpo-wrap .vp { margin-right: -500%; }
	.sm-slider .preset05-6 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 14.6666%;}	
}
@media all and (min-width: 321px) and (max-width: 480px){
	.sm-slider .preset04-1 .vpo-wrap { width: 100%; margin: 0; }
	.sm-slider .preset04-1 .vpo-wrap .vp{ margin-right: 0; }
	.sm-slider .preset04-1 .vpo-wrap .vp .item{float: left;margin: 0;width: 100%;}

	.sm-slider .preset04-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sm-slider .preset04-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sm-slider .preset04-2 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 48%;}

	.sm-slider .preset04-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sm-slider .preset04-3 .vpo-wrap .vp{ margin-right: -200%; }
	.sm-slider .preset04-3 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 31.3333%;}

	.sm-slider .preset04-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sm-slider .preset04-4 .vpo-wrap .vp { margin-right: -300%; }
	.sm-slider .preset04-4 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 23%;}

	.sm-slider .preset04-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sm-slider .preset04-5 .vpo-wrap .vp { margin-right: -400%; }
	.sm-slider .preset04-5 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 18%;}

	.sm-slider .preset04-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sm-slider .preset04-6 .vpo-wrap .vp { margin-right: -500%; }
	.sm-slider .preset04-6 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 14.6666%;}	
}

@media all and (min-width: 481px) and (max-width: 768px){
	.sm-slider .preset03-1 .vpo-wrap { width: 100%; margin: 0; }
	.sm-slider .preset03-1 .vpo-wrap .vp{ margin-right: 0; }
	.sm-slider .preset03-1 .vpo-wrap .vp .item{float: left;margin: 0;width: 100%;}

	.sm-slider .preset03-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sm-slider .preset03-2 .vpo-wrap .vp{ margin-right: -100%; }
	/*.sm-slider .preset03-2 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 48%;}*/
	.sm-slider .preset03-2 .vpo-wrap .vp .item{float: left;width: 50%;}

	.sm-slider .preset03-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sm-slider .preset03-3 .vpo-wrap .vp{ margin-right: -200%; }
	/*.sm-slider .preset03-3 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 31.3333%;}*/
	.sm-slider .preset03-3 .vpo-wrap .vp .item{float: left;width: 33.3333%;}

	.sm-slider .preset03-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sm-slider .preset03-4 .vpo-wrap .vp { margin-right: -300%; }
	/*.sm-slider .preset03-4 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 23%;}*/
	.sm-slider .preset03-4 .vpo-wrap .vp .item{float: left;width: 25%; }

	.sm-slider .preset03-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sm-slider .preset03-5 .vpo-wrap .vp { margin-right: -400%; }
	.sm-slider .preset03-5 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 18%;}

	.sm-slider .preset03-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sm-slider .preset03-6 .vpo-wrap .vp { margin-right: -500%; }
	.sm-slider .preset03-6 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 14.6666%;}		
}

@media all and (min-width: 769px) and (max-width: 1200px){
	.sm-slider .preset02-1 .vpo-wrap { width: 100%; margin: 0; }
	.sm-slider .preset02-1 .vpo-wrap .vp{ margin-right: 0; }
	.sm-slider .preset02-1 .vpo-wrap .vp .item{float: left;margin: 0;width: 100%;}

	.sm-slider .preset02-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sm-slider .preset02-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sm-slider .preset02-2 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 48%;}

	.sm-slider .preset02-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sm-slider .preset02-3 .vpo-wrap .vp{ margin-right: -200%; }
	/*.sm-slider .preset02-3 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 31.3333%;}*/
	.sm-slider .preset02-3 .vpo-wrap .vp .item{float: left;width: 33.3333%;}

	.sm-slider .preset02-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sm-slider .preset02-4 .vpo-wrap .vp { margin-right: -300%; }
	/*.sm-slider .preset02-4 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 23%;}*/
	.sm-slider .preset02-4 .vpo-wrap .vp .item{float: left;width: 25%;}

	.sm-slider .preset02-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sm-slider .preset02-5 .vpo-wrap .vp { margin-right: -400%; }
	/*.sm-slider .preset02-5 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 18%;}*/
	.sm-slider .preset02-5 .vpo-wrap .vp .item{float: left;width: 20%;}

	.sm-slider .preset02-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sm-slider .preset02-6 .vpo-wrap .vp { margin-right: -500%; }
	.sm-slider .preset02-6 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 14.6666%;}		
}

@media all and (min-width: 1201px){
	.sm-slider .preset01-1 .vpo-wrap { width: 100%; margin: 0; }
	.sm-slider .preset01-1 .vpo-wrap .vp{ margin-right: 0; }
	.sm-slider .preset01-1 .vpo-wrap .vp .item{float: left;margin: 0;width: 100%;}

	.sm-slider .preset01-2 .vpo-wrap { width: 50%; margin: 0 -50% 0 0; }
	.sm-slider .preset01-2 .vpo-wrap .vp{ margin-right: -100%; }
	.sm-slider .preset01-2 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 48%;}

	.sm-slider .preset01-3 .vpo-wrap { width: 33.3333%; margin: 0 -66.6666% 0 0; }
	.sm-slider .preset01-3 .vpo-wrap .vp{ margin-right: -200%; }
	/*.sm-slider .preset01-3 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 31.3333%;}*/
	.sm-slider .preset01-3 .vpo-wrap .vp .item{float: left;width: 33.3333%;}

	.sm-slider .preset01-4 .vpo-wrap { width: 25%; margin: 0 -75% 0 0; }
	.sm-slider .preset01-4 .vpo-wrap .vp { margin-right: -300%; }
	.sm-slider .preset01-4 .vpo-wrap .vp .item{float: left;width: 25%;}
	/*.sm-slider .preset01-4 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 23%;}*/

	.sm-slider .preset01-5 .vpo-wrap { width: 20%; margin: 0 -80% 0 0; }
	.sm-slider .preset01-5 .vpo-wrap .vp { margin-right: -400%; }
	.sm-slider .preset01-5 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 18%;}

	.sm-slider .preset01-6 .vpo-wrap { width: 16.6666%; margin: 0 -83.3333% 0 0; }
	.sm-slider .preset01-6 .vpo-wrap .vp { margin-right: -500%; }
	/*.sm-slider .preset01-6 .vpo-wrap .vp .item{float: left;margin: 0 1%;width: 14.6666%;}*/
	.sm-slider .preset01-6 .vpo-wrap .vp .item{float: left;width: 16.6666%;}	
}
/*################################# End css Device #############################################*/

.sm-slider{
	position:relative;
}

.sm-slider.sm-slider-preload{
	height:300px;
	position:relative;
	overflow:hidden;
}

.sm-slider.sm-slider-preload .sm-slider-loading{
	position:absolute;
	z-index:10;
	background:url(../images/loading.gif) no-repeat scroll center center #FFF;
	top:0;
	bottom:0;
	width:100%;
}

.sm-slider .slider {
	overflow: hidden;
	position: relative;
	z-index: 8;
}
.sm-slider .slider .item{
	background-size: 100% 100%;
}

.sm-slider .no-rgba .slider .item{
	background: url('rgba.php/rgba(255, 0, 0, .5)');
}
.sm-slider .slider .item img{
	/*width: 100%;*/
    vertical-align: middle;
}

.sm-slider .slider .item img:hover{
	cursor: pointer;	
/* 	opacity:0.7; */
/*     filter: alpha(opacity=70); 	 */
}

.sm-slider .slider .vpo-wrap .vp{
	position: relative;
	padding:5px;
	height: auto;
}

.sm-slider .slider .vpo-wrap .vp .vpi-wrap{
	white-space: nowrap;
	/*font-size: 0 !important;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sm-slider .slider .vpo-wrap .vp .item{
	margin-bottom: 2%;
	display: inline-block;
	/*font-size: medium;*/
	white-space: normal;
	vertical-align: top;
	float: none;
}

.sm-slider .slider .vpo-wrap .vpi-wrap:after{
	display: block;
	height: 0;
	line-height: 0;
	content: '';
	clear: both;
}

.sm-slider .not-js .vpo-wrap,
.sm-slider .not-js .vpo-wrap .vp,
.sm-slider .not-js .vpo-wrap .vp .vpi-wrap,
.sm-slider .not-js .vpo-wrap .vp .item{
	position: static;
}
.sm-slider .not-js .vpo-wrap .vp .item{
	float: left;
}


.sm-slider #to li a{
	outline: none;
}


/*#################################################### css for hearder #############################################*/
/* .sm-slider .page-header-module{ */
/* 	margin:10px 10px 0 10px; */
/* 	height: 38px; */
/* 	white-space: nowrap; */
/* } */
.sm-slider .page-title-slider{
	color: #2E2C2D;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
/* 	float: left; */
	overflow: hidden;
	width: 75%;
	margin:10px 0 8px 0px;
}

/*############################################### css for botton #################################################*/
.sm-slider .control-button {
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 0;
}
.sm-slider .page-button .control-button{
	text-indent: -999999px;
	margin-bottom:0px;
	position: relative;
	height:100%;
}
.sm-slider .page-button.top,
.sm-slider .page-button.bottom{
	 margin-right: 0px;
}
.sm-slider .page-button .control-button .preview{
	background: url(../images/button-image.png) no-repeat;
    width:24px;
    height:15px;        
   /* opacity:0.5;
    filter: alpha(opacity=50);*/
    position:absolute;
    right:30px;	
    padding:0px;
    margin:0px;
    z-index: 9;
}
.sm-slider .page-button .control-button .next{
    background: url(../images/button-image.png) no-repeat -30px 0;
    width:26px;
    height:15px;    
    /*opacity:0.5;
    filter: alpha(opacity=50);*/
    position:absolute;
    right:0;
    padding:0px;
    margin:0px;
    z-index: 9;
}
.sm-slider .page-button.top .control-button .preview,
.sm-slider .page-button.top .control-button .next{
	bottom:10px;
}
.sm-slider .page-button.middle{
    right: 10px;
    left: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
}
.sm-slider .page-button .control-button{
}
.sm-slider .page-button.bottom .control-button .preview, 
.sm-slider .page-button.bottom .control-button .next{
	top:10px;
}
.sm-slider .page-button.middle .control-button .preview{
 	top: 50%;
    z-index: 9;
    left:0;	 
}
.sm-slider .page-button.middle .control-button .next{
 	top: 50%;
    z-index: 9;
    right:0;	
}

.sm-slider .page-button.style2 .control-button .preview{
	background-position:-180px 0;
    width:22px;
    height:20px;        
    right:21px;	
    z-index: 9;
}
.sm-slider .page-button.style2 .control-button .next{
    background-position:-210px 0;
    width:22px;
    height:20px; 
    z-index: 9;   
}
.sm-slider .page-button.style3 .control-button .preview{
	background-position:-60px 0;
    width:14px;
    height:21px;        
    right:15px;	
    z-index: 9;
}
.sm-slider .page-button.style3 .control-button .next{
    background-position:-90px 0;
    width:12px;
    height:21px;  
    z-index: 9;  
}

.sm-slider .page-button .control-button .preview:hover, 
.sm-slider .page-button .control-button .next:hover, 
.sm-slider .page-button.style2 .control-button .preview:hover,
.sm-slider .page-button.style2 .control-button .next:hover{
	cursor: pointer;
    opacity:1;
    filter: alpha(opacity=100);	
}


/*########################################## css for info item ############################################*/
.sm-slider .slider .vpo-wrap .vp .item .item-wrap{
	/*width: 100%;*/
	position: relative;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-img{
	border: 1px solid #DDDDDD;
    padding: 9px;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-img:hover{
    /*opacity:0.7; 
    filter: alpha(opacity=70); */
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info{
	margin-top:10px;
	font-size:14px;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-title{
	margin-bottom:5px;
	text-transform:uppercase;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content{
	margin:0px;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-des{
	margin-bottom:5px;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .item-details{
	text-align: right;
}
/* .sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info .item-content .ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 7px 0;
} */



/*css spotlight*/
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight{
	position: absolute;
	left: 0;
	bottom:0;
	padding:10px 0 10px 0;
	width:100%;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner{
	position: relative;
	padding:8px 10px 0px 10px;
	overflow: hidden;
	margin-right:10px;
	margin-left:10px;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content,
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content a,
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title a,
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-title{
	position: relative;
	color:white;
	z-index: 2;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-content{
	padding-bottom:2px;
	height:0px;
	-webkit-transition: all 3s ;
	-moz-transition: all 3s ;
	-ms-transition: all 3s ;
	-o-transition: all 3s ;
	transition: all 3s ;  
    float: left;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight:hover .item-content{
	height:auto;
}
.sm-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-bg{
	position: absolute;
	bottom: 0px;
	left: 0px;
    background:#000;	
   /* opacity:0.7;
    filter: alpha(opacity=70);*/
    height:100%;  
    width: 100%;
    z-index: 1;
}


.sm-slider .item-review{
	margin:0 0 5px 0;
	line-height:22px;
}

.sm-slider .item-review .ratings .rating-links,
.sm-slider .item-review .ratings{
	margin:0 0 0 0;
}

.sm-slider .item-price{
	margin:0 0 5px 0;
	line-height:22px;
}
.sm-slider  .add-to-links{
	list-style:none outside none;
	margin:0;
	padding:0;
}

.sm-slider .ratings .rating-box{
	margin-right:5px;
}
.sm-slider  .item-review{
	vertical-align:middle;
	overflow:hidden;
}

.sm-slider .item-btn-addtocart{
	margin-bottom:5px;
}

.pre-text{
    margin: 10px 20px 10px 20px;
}

.post-text{
    margin: 10px 20px 10px 20px;
}

.sm-slider .control-button:after{
    clear: both;
}
.sm-slider .control-button:before, .sm-slider .control-button:after {
    content: "";
    display: table;
}
.sm-slider .ratings .rating-box {
    float: left;
    margin: 2px 10px 0 0;
}

.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

.sm-slider .slider .vpo-wrap .vp .item{
	float:none!important;
}