#yt_main .widget-promotion .promotion  {
	border: 1px solid #ddd;
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding: 10px;
    position: relative;
	width:32.6%;
}
/* .products-grid .item{
	width:100%;
} */
.products-grid .item .product-name{
	height: 40px;
  /*   line-height: 15px;
    margin-bottom: 7px;
    margin-top: 5px; */
}
#yt_main .sm-slider #block-same.slider, #yt_main .sm-slider #block-upsell.slider{
	margin:15px 0 -5px;
}
.products-grid .item .item-inner .product-info{
	padding:0;
}
#yt_right .sm-slider .block-content{
	border:none;
}
#yt_header .header-container-fixed{
	position:fixed;
	top:0;
	z-index:9999;
}
#yt_header.header1-wrap .mega-horizontal-wrap .mega-horizontal-left #yt_menu_short{
	margin-top:0;
	position:relative;
}

.saleoff-index-index .saleoff-heading{
	background-color: #d4eaf7;
    color: #004890;
    font-size: 13px;
    font-style: italic;
    height: auto;
    margin: 8px 0 10px;
    padding: 10px 0;
    text-align: center;
}
.saleoff-index-view  .saleoff-heading{
	background-color: #d4eaf7;
    color: #004890;
    font-size: 13px;
    font-style: italic;
    height: auto;
    margin: 8px 0 10px;
    padding: 10px 0;
    text-align: center;
}
  
.widget-promotion .promotion	 .short_content{
	text-align:center;
	display: block;
    height: 15px;
    overflow: hidden;
}
.widget-promotion .promotion .thumbnail-container img{
	width:100%;
}
.widget-promotion .promotion	.desc-container{
	display:block;
/* 	bottom: 0;
	left: 0; */
	/* position: absolute; */
	text-align: center;
	width: 100%;
	margin-top:10px;
}
.widget-promotion .promotion	.desc-container .saleoff-title{
	height:45px;
	text-transform:uppercase;
	overflow:hidden;
}
.mini-cartpro .block-title .btn-toggle .detail-minicart p{
	color:#ffffff;
}
.mini-cartpro .block-title .btn-toggle .detail-minicart .price, .mini-cartpro .block-title .btn-toggle .detail-minicart .txt-item{
	color:#ffffff;
}
#yt_wrapper #yt_main .sameproduct-block{
	margin-top:10px;
}
#yt_right .slider-related-c.sm-slider .page-button .control-button{
	float:right;
	height:29px;
	width:46px;
	margin-top:-35px;
}
#yt_right .slider-related-c.sm-slider .page-button .control-button li.prev:hover{
	background-position: 0px 0;
	cursor: pointer;
	background-color:#0d4c8f;
}
#yt_right .slider-related-c.sm-slider .page-button .control-button li.next:hover{
	background-position: -90px 0;
	cursor: pointer;
	background-color:#0d4c8f;
}
#yt_right .slider-related-c.sm-slider .page-button .control-button li.prev{
	background-position: -30px 0;
    margin-right: 5px;
}
#yt_right .slider-related-c.sm-slider .page-button .control-button li{
	background-image: url("../images/ico-slider.png");
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    height: 27px;
    text-indent: -999em;
    width: 20px;
}
#yt_right .slider-related-c.sm-slider .page-button .control-button li.next{
	background-position: -60px 0;
}
.catalog-product-view #yt_wrapper  #yt_main .yt-product-detail .short-description ul{
	list-style: outside;
}
.catalog-product-view #yt_wrapper  #yt_main .yt-product-detail  .tab-product-detail #yt_tab_decription p img{
	/* width:100%; */
	max-width:100%;
}

#yt_menu_short .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1 > a.sm_megamenu_head > span{
	padding-top: 12px;
}
.catalog-product-view #yt_right #block-related-slider #block-related .item{
	margin-bottom:15px;
}
.catalog-product-view #yt_right #block-related-slider{
	margin-bottom:15px;
}
.catalog-product-view #yt_right .slider-related-c  #block-related-slider #block-related li.item{
	margin:0 10px 10px 0;
}
.catalog-product-view #yt_right .slider-related-c  #block-related-slider #block-related li.item .product-info{
	max-height:152px;
}
.catalog-product-view  #yt_right .sm-slider.related .block-content #block-related-slider div.item{
	max-width:100%;
}
.catalog-product-view  #yt_right .sm-slider.related .block-content #block-related-slider div.item img{
	max-width:100%;
}
.catalog-product-view  #yt_right .sm-slider.related .block-content #block-related-slider .product-addto-wrap{
	margin-top:5px;
}
.mega-horizontal-left  #yt_menu_short .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1 > a.sm_megamenu_head > span{
	padding:0;
	/* margin-top:-5px; */
	margin-bottom:-5px;
}
.mega-horizontal-left  #yt_menu_short .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.sm_megamenu_lv1{
	/* margin-top:-10px; */
	margin-bottom:-4px;
	line-height:41px;
}
/*----------gift------*/
.catalog-product-view #yt_wrapper .product-view-giftplus,.quickview-main  .product-view-giftplus{
	margin-top:15px;
	background: #f0e987 none repeat scroll 0 0;
    padding: 7px;
	margin-bottom:10px;
}
#catalog-listing .product-view-giftplus{
	background: #f0e987 none repeat scroll 0 0;
    padding: 7px;
	float:right;
	width:67%;
	margin-top:-15px;
}
.catalog-product-view #yt_wrapper .product-view-giftplus .product-view-promo,#catalog-listing .product-view-giftplus .product-view-promo,
.quickview-main .product-view-giftplus .product-view-promo
{
	border: 1px dashed #3b718d;
    color: #211f20;
	padding:10px;
}
.catalog-product-view #yt_wrapper .product-view-giftplus .product-view-promo .promo-title,
#catalog-listing .product-view-giftplus .product-view-promo .promo-title,
.quickview-main .product-view-giftplus .product-view-promo .promo-title
{
	background: transparent url("../images/hc/gift.jpg") no-repeat scroll left center;
    color: #ed1f29;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 1px;
    text-transform: uppercase;
}
.catalog-product-view #yt_wrapper .product-view-giftplus ul ,#catalog-listing .product-view-giftplus ul,
.quickview-main .product-view-giftplus ul
{
	margin-top:5px;
}
.products-grid .gift-img,#catalog-listing  .gift-img {
	background: transparent url("../images/hc/gift.png") no-repeat scroll center center;
    height: 33px;
    position: absolute;
    right:0;
	bottom:0;
    width: 34px;
	z-index:99;
}
@media (min-width: 1200px) {
	
#yt_main .widget-promotion .promotion  {
	float :left;
	width:32.6%;
}
.widget-promotion .promotion .thumbnail-container img{
	width:100%;
}
#yt_main .sm-slider #block-same.slider,#yt_main .sm-slider #block-upsell.slider{
		margin:15px 0px -5px 0px;
		padding:5px 0px;
	}
#yt_main .sm-slider #block-same.slider .item,#yt_main .sm-slider #block-upsell.slider .item{
	padding-left:0;
	padding-right:0;
	margin-right:2px;
}
.sm-slider  #block-same.slider .item
	{
		padding:0 10px;
	}
#yt_right .sm-slider.related .block-content{
		padding:0;
	}
	#yt_right .sm-slider.related .block-content .item{
		/* padding-left:0;
		padding-right:0; */
		/* width: 100%; */
	}
}
@media (max-width: 1199px) {
.saleoff-index-view .saleoff-images{
	width:100%;
}
.saleoff-index-view .saleoff-images img{
	width:100%;
}
.saleoff-index-index  .saleoff-heading{
	background-color: #d4eaf7;
    color: #004890;
    font-size: 13px;
    font-style: italic;
    height: auto;
    margin: 8px 0 10px;
    padding: 10px 0;
    text-align: center;
}
.support-container .support-content{
		background:none;
	}
#yt_main .sm-slider #block-same.slider,#yt_main .sm-slider #block-upsell.slider{
		margin:15px 0px -5px 0px;
		padding:5px 0px;
	}
#yt_main .sm-slider #block-same.slider .item,#yt_main .sm-slider #block-upsell.slider .item{
		padding-left:0;
		padding-right:0;
		margin-right:2px;
}
.sm-slider  #block-same.slider .item
	{
		padding:0 10px;
	}
#yt_main .sm-slider #block-same.slider,#yt_main .sm-slider #block-upsell.slider{
		margin:15px 0px -5px 0px;
		padding:5px 0px;
	}
#yt_right .sm-slider.related .block-content{
		padding:0;
	}
#yt_right .sm-slider.related .block-content .item{
		padding-left:0;
		padding-right:0;
		width: 100%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
#yt_main .widget-promotion .promotion  {
	float :left;
	width:32.6%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	#catalog-listing .product-view-giftplus{
		width:100%;
		margin-top:5px;
	}
	#yt_main .sm-slider #block-same.slider,#yt_main .sm-slider #block-upsell.slider{
		margin:15px 0px -5px 0px;
		padding:5px 0px;
	}
	#yt_main .sm-slider #block-same.slider .item,#yt_main .sm-slider #block-upsell.slider .item{
		padding-left:0;
		padding-right:0;
		margin-right:2px;
	}
	.sm-slider  #block-same.slider .item
	{
		padding:0 10px;
	}
	#yt_right .sm-slider.related .block-content{
		padding:0;
	}
	#yt_right .sm-slider.related .block-content .item{
		padding-left:0;
		padding-right:0;
		width: 100%;
	}
	
}
@media (max-width: 767px) {
	#yt_footer .footer-content .map_container{
		float:left;
	}
	#yt_main .widget-promotion .promotion{
		width:48%;
	}
}
@media (min-width: 479px) and (max-width: 767px) {
	.support-container .support_banner li{
		width:auto;
	}
	.support-container .support_banner li.last{
		width:auto;
	}
	#yt_main .sm-slider #block-same.slider,#yt_main .sm-slider #block-upsell.slider{
		margin:15px 0px -5px 0px;
		padding:5px 0px;
	}
	#yt_main .sm-slider #block-same.slider .item,#yt_main .sm-slider #block-upsell.slider .item{
		padding-left:0;
		padding-right:0;
		margin-right:2px;
	}
	#yt_main  .sm-slider .products-grid .item{
		width:100%;
	}
	#yt_right .sm-slider.related .block-content{
		padding:0;
	}
	#yt_right .sm-slider.related .block-content .item{
		padding-left:0;
		padding-right:0;
		width: 100%;
	}
}
@media (max-width: 479px){
	#catalog-listing .product-view-giftplus{
		width:100%;
		margin-top:5px;
	}
	.yt_ressidebar_screennav ul.siderbar-menu li.level0  ul.level0 li.level1{
		display:none;
	}
	
	#yt_main .yt-product-detail .yt-product-detail-inner .category-products, #yt_main .yt-product-detail .product-essential .category-products{
		padding-left:0;
	}
	#location-promotion a img{
		width:100%;
	}
	#yt_footer .footer-top .footer-link .block_footersupport{
		width:100%;
	}
	#yt_footer .footer-content .footer-content-left .address_item{
		width:50%;
	}
	#yt_footer .footer-content .footer-content-right .map_container{
		position:relative;
		right:15px;
	}
	#yt_footer .footer-content .footer-content-right .map_container .map_wrapper img{
		width:100%;
	}
	#yt_main .widget-promotion .promotion{
		
	}
	#yt_footer .footer-bottom{
		margin-bottom:100px;
	}
	.support-container{
		height:100px;
	}
	.support-container ul.sub{
		position:relative;
	}
	.support-container .support_banner li,.support-container .support_banner li.last{
		width:auto;
	}
	.support-container .support_banner li span{
		left:20px;
	}
	.support-container .support_banner li p{
		left:20px;
	}
	.support-container .support_banner li.last span,.support-container .support_banner li.last p{
		left:50px;
	}
	.support-container ul.sub{
		left:-40px;
	}
	.support-container .support_banner li.last p{
		padding-right:0px;
	}
	.support-container .support_banner{
		margin-left:20px;
	}
	#yt_main .sm-slider #block-same.slider,#yt_main .sm-slider #block-upsell.slider{
		margin:15px 0px -5px 0px;
		padding:5px 0px;
	}
	#yt_main .sm-slider #block-same.slider .item,#yt_main .sm-slider #block-upsell.slider .item{
		padding-left:0;
		padding-right:0;
		margin-right:2px;
	}
	#yt_main .sm-slider #block-same.slider .active .item,#yt_main .sm-slider #block-upsell.slider .active .item{
		margin-right:5px;
	}
	.products-grid .item{
		width:100%;
	}
	.cms-index-index #yt_wrapper #yt_main .yt-tab-listing .item  .item-inner .button-action .wishlist-compare .link-compare{
		display:none;
	}
}
@media (min-width: 360px) and (max-width: 439px) {
	#yt_main .widget-promotion .promotion{
		width:100%;
	}
}