.areatop {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    display: table;
    height: auto;
    max-width: 1165px;
    padding: 10px 0 0;
    position: relative;
    width: 100%;
}

.areatop .sp_installment h1 {
    color: #005693;
    font-size: 22px;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}

.areatop .sp_installment {
    border-right: 1px solid #ddd;
    display: table-cell;
    line-height: 20px;
    overflow: hidden;
    padding-right: 15px;
    vertical-align: top;
    width: 58%;
}

.areatop .sp_installment .div_prepimg {
    float: left;
    margin-bottom: 8px;
    min-width: 100px;
    padding: 0 0 5px;
    text-align: left;
    width: 24%;
}

.sp_detail .sp_price-box{
	margin-left: 130px;
}

.areatop .sp_installment .sp_detail {
    float: right;
    position: relative;
    width: 75%;
}

.sp_detail .sp_price-box .special-price{
	color: #014a8e;
    font-size: 1.7em;
    font-weight: bold;
}

.sp_detail .sp_price-box .old-price{
    color: #202020;
    font-size: 1em;
}

.advantage {
    display: table-cell;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: top;
}

.advantage h4 {
    color: #005693;
    font-size: 22px;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}

.advantage span {
    color: #000;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.advantage b {
    color: #0072bc;
    float: left;
    margin: 0 10px 10px 0;
}
.enteryourinfo {
    color: #666;
    display: block;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px 0;
}
#installment_left,#installment_middle,#installment_right,#installment_right2 {
    float: left;
    width: 22%;
	margin-right:30px;
}
.installment_container .paper_type{
    border: 1px dashed #d8d8d8;
    border-radius: 8px;
    float: left;
    margin: 10px 0 0;
    padding: 10px;
	width: 100%;
}
.installment_title{
    padding: 3px 0 1px;
    width: 100%;
}
.installment_title h4{
    color: #000000;
    font: bold 15px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 2px;
    padding: 0 0 10px 30px;
    text-transform: uppercase;
}
span.required em {
    color: #ff0000;
    font-weight: normal;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.installment_container .paper_type .field{
	clear: both;
    float: left;
    font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin: 10px 0 0;
    width: 100%;
}
.installment_container .paper_type input[type="text"] {
    border: 1px solid #bfbfbf;
    color: #6f6f6f;
    font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 6px;
    padding: 2px 0 3px;
    width: 100%;
}
.installment_container .installment_partner_option img{
	width: 90%;
	height: 180px;
}
.installment_container .installment_partner_option dt{
	height:180px;
}
#installment_partner_i0, #installment_partner_i1{
	margin-top: 60px;
}
.installment_container label{
	font-size: 14px;
	margin-left:10px;
}
.subcribe_btn {
    color: #fff;
    height: auto;
    line-height: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
	margin-right: 10px;
    margin-top: 30px;
	border: 0 none;
    border-radius: 25px;
	cursor: pointer;
	float:right;
}
.subcriber_bg {
    background: #444 none repeat scroll 0 0;
}
.paper_type_option dt{
	margin-bottom:20px;
}
.installment_container label strong{
	color:red;
}
.subcriber_bg:hover{
	background: #0d4c8f;
}
.material{
	font-size:14px;
}
.factor {
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
}
.setup-items {
    padding: 0 20px;
}
.setup-items > label, .setup-items > span {
    display: block;
}
.graytxt {
    color: #999;
}
.calctbl {
    display: table;
    margin-top: 10px;
    width: 100%;
}
.calctbl .row {
    display: table-row;
}

.calctbl .cell:first-child {
    vertical-align: middle;
    width: 30px;
}
.calctbl .cell {
    border-bottom: 1px solid #ededed;
    display: table-cell;
    padding: 10px;
    vertical-align: top;
}

.calctbl .cell:nth-child(2) {
    text-align: center;
    width: 64px;
}

.calctbl .cell:nth-child(3) {
    width: calc(100% - 300px);
}

.calctbl .cell:nth-child(4) {
    text-align: right;
    width: 60px;
}

.calctbl .cell:last-child {
    text-align: right;
    width: 100px;
}
.redtxt {
    color: #eb3d31;
}
.sum {
    margin-top: 10px;
	float:right;
}
@media (min-width: 768px) and (max-width: 980px) {
	.areatop .sp_installment .div_prepimg{
		width: 30%;
	}
	#installment_left, #installment_middle, #installment_right, #installment_right2{
		width: 45%;
	}
	#installment_right2{
		margin-top: -220px;
	}
}
@media (min-width: 320px) and (max-width: 425px) {
	.areatop .sp_installment .sp_detail{
		width:100%;
		right: 40%;
	}
	.areatop .sp_installment,.advantage,#installment_left, #installment_middle, #installment_right, #installment_right2{
		width: 100%;
		float:left;
	}
	#yt_wrapper label {
		width: 86%;
	}
	.u_mat{
		margin-left: 5%;
		width: 90%;
	}
	.calctbl .row .cell:nth-child(2){
		display:none;
	}
}
@media (min-width: 320px) and (max-width: 360px) {
	.material .h2_material,.fac_mat,.i_mat{
		margin-left: 10%;
	}
	.i_mat{
		width: 60%!important;
	}
	.u_mat{
		margin-left: 10%;
		width: 90%;
	}
}
@media (min-width: 360px) and (max-width: 375px) {
	.i_mat{
		width: 60%!important;
	}
	.u_mat{
		margin-left: 5%;
		width: 90%;
	}
}