.areatop {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    display: table;
    height: auto;
    max-width: 1165px;
    padding: 10px 0 0;
    position: relative;
    width: 100%;
}

.areatop .sp_maintain h1 {
    color: #005693;
    font-size: 22px;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}

.areatop .sp_maintain {
    border-right: 1px solid #ddd;
    display: table-cell;
    line-height: 20px;
    overflow: hidden;
    padding-right: 15px;
    vertical-align: top;
    width: 58%;
}

.areatop .sp_maintain .div_prepimg {
    float: left;
    margin-bottom: 8px;
    min-width: 100px;
    padding: 0 0 5px;
    text-align: left;
    width: 24%;
}

.areatop .sp_maintain .div_prepimg .product-image img {
	width: 500px;
}
.sex_op .sex_option dt{
	display: inline;
	margin-right: 15px;
}

.sex_op dl{
	float: right;
    width: 75%;
	margin-left: 3px;
	margin-top: -3px;
}

.sex_op span{
	font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.sex_option label {
    font-size: 14px;
    margin-left: 0px!important;
}

.advantage {
    display: table-cell;
    overflow: hidden;
    padding-left: 15px;
    vertical-align: top;
}

.advantage h4 {
    color: #005693;
    font-size: 22px;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
}

.advantage p {
    color: #000;
    font-size: 14px;
	float: left;
	margin:0;
}
.advantage span {
    color: #000;
}
.advantage b {
    color: #0072bc;
    float: left;
    margin: 0 10px 10px 0;
}
.enteryourinfo {
    color: #666;
    display: block;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px 0;
}
#maintain_left,#maintain_middle,#maintain_right {
    float: left;
    width: 30%;
	margin-right:34px;
}
.maintain_container .paper_type{
    border: 1px dashed #d8d8d8;
    border-radius: 8px;
    float: left;
    margin: 10px 0 20px;
    padding: 10px;
	width: 100%;
}
.maintain_title{
    padding: 3px 0 1px;
    width: 100%;
}
.maintain_title h4{
    color: #000000;
    font: bold 15px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 2px;
    padding: 0 0 10px 30px;
    text-transform: uppercase;
}
span.required em {
    color: #ff0000;
    font-weight: normal;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.maintain_container .paper_type .field{
	clear: both;
    float: left;
    font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    margin: 10px 0 0;
    width: 100%;
}
.maintain_container .paper_type input[type="text"] {
    border: 1px solid #bfbfbf;
    color: #6f6f6f;
    font: 12px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 6px;
    padding: 2px 3px 3px;
    width: 97%;
}
.maintain_container label{
	font-size: 14px;
	margin-left:10px;
}
.subcribe_btn {
    color: #fff;
    height: auto;
    line-height: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
	margin-right: 10px;
    margin-top: 30px;
	border: 0 none;
    border-radius: 25px;
	cursor: pointer;
	float:right
}
.subcriber_bg {
    background: #444 none repeat scroll 0 0;
}
.subcriber_bg:hover {
    background: #0d4c8f none repeat scroll 0 0;
}
.paper_type_option dt{
	margin-bottom:20px;
}
.maintain_container label strong{
	color:red;
}
@media (min-width: 640px) and (max-width: 980px) {
	.areatop .sp_maintain .div_prepimg .product-image img {
		width: 400px;
	}
	#maintain_left, #maintain_middle, #maintain_right {
		width: 45%;
	}
	.subcribe_btn{
		margin-top: 300px;
	}
}
@media (min-width: 320px) and (max-width: 425px) {
	.areatop .sp_maintain {
		border-right: 0px solid #ddd;
		display: block;
		width: 100%;
	}
	.advantage {
		display: block;
		float: left;
	}
	#maintain_left, #maintain_middle, #maintain_right {
		width: 100%;
	}
	.areatop .sp_maintain .div_prepimg .product-image img {
		width: 300px;
	}
	#yt_wrapper label {
		width: 86%;
	}
}