 .saleoff-heading {
	background: #d4eaf7 url('../images/san-khuyen-mai.jpg') left top no-repeat;
	height:39px; line-height:39px;
	color:#004890;
	font-style:italic;
	padding-left:225px;
	font-size:13px;
	margin:8px 0 10px;
 }
 .backtoschool{
	background: #d4eaf7 url('../images/back-to-school.jpg') left top no-repeat;
 }
 .saleoff-heading h1 {
     font-size:16px;
     height:39px; line-height:39px;
     margin: 0px;
     padding: 0px;
     font-weight: normal;
 }
 .saleoff-list .item {
     float: left;
     width: 312px;
     margin-top: 5px;
     margin-left: 5px;
     border: 1px solid #ddd;
     display: block;
     padding: 10px;          
     overflow: hidden;
     height: 230px;
     position: relative;
 }
 .saleoff-list .item:hover{ border: 1px solid #ec1922;}
 .saleoff-list .item .thumbnail-container, .saleoff-list .item .thumbnail-container img{
     width: 310px;
     max-height: 155px;
     overflow: hidden;
     padding: 0px 0px 0px 0px !important;
 }
 .saleoff-list .item .desc-container {     
     text-align: center;
     position: absolute;
     bottom: 0px;
     left: 0px;
     width: 100%;
 }
 .saleoff-list .item .thumbnail-container,
 .saleoff-list .item .desc-container {          
     display: block;
 }
 .saleoff-title{ height: 43px; overflow: hidden; text-transform: uppercase;}
 .saleoff-date {
     color: #004890;
     font-style: italic;
 }
 .saleoff-content {
     margin-top: 20px;
 }
 .saleoff-content h3 {
     font-size: 18px;
 }
 .saleoff-more h3 {
     color: #0b2173;
 }
 .saleoff-images{clear: both; margin: 0 auto; position: relative;}
 .saleoff-product-link{ position: absolute; top: 0px; left: 0px;z-index: 98;}
 .saleoff-product-link table{ width: 1024px;}
 .saleoff-product-link table p{ display: block; width: 100% !important; height: 100% !important;}
 .saleoff-product-link table a{ display:table; width: 100% !important; height: 100% !important; color: transparent;}
 .saleoff-product-link table p a{ display: block; width: 100% !important; height: 100% !important;}